src/z3c/rml/rml.dtd


<!ELEMENT document (docinit?,stylesheet?,template?,story?,pageInfo?,pageDrawing*)>
<!ATTLIST document filename CDATA #REQUIRED>
<!ATTLIST document title CDATA #IMPLIED>
<!ATTLIST document subject CDATA #IMPLIED>
<!ATTLIST document author CDATA #IMPLIED>
<!ATTLIST document creator CDATA #IMPLIED>
<!ATTLIST document debug CDATA #IMPLIED>
<!ATTLIST document compression CDATA #IMPLIED>
<!ATTLIST document invariant CDATA #IMPLIED>

<!ELEMENT docinit (color*,name*,registerType1Face*,registerFont*,registerCidFont*,registerTTFont*,registerFontFamily*,addMapping*,logConfig*,cropMarks*,startIndex*)>
<!ATTLIST docinit pageMode (usenone|fullscreen|usethumbs|useoutlines) #IMPLIED>
<!ATTLIST docinit pageLayout (twocolumnright|onecolumn|twocolumnleft|singlepage) #IMPLIED>
<!ATTLIST docinit useCropMarks CDATA #IMPLIED>
<!ATTLIST docinit hideToolbar CDATA #IMPLIED>
<!ATTLIST docinit hideMenubar CDATA #IMPLIED>
<!ATTLIST docinit hideWindowUI CDATA #IMPLIED>
<!ATTLIST docinit fitWindow CDATA #IMPLIED>
<!ATTLIST docinit centerWindow CDATA #IMPLIED>
<!ATTLIST docinit displayDocTitle CDATA #IMPLIED>
<!ATTLIST docinit nonFullScreenPageMode (usenone|useoc|usethumbs|useoutlines) #IMPLIED>
<!ATTLIST docinit direction (l2r|r2l) #IMPLIED>
<!ATTLIST docinit viewArea (trimbox|artbox|bleedbox|cropbox|mediabox) #IMPLIED>
<!ATTLIST docinit viewClip (trimbox|artbox|bleedbox|cropbox|mediabox) #IMPLIED>
<!ATTLIST docinit printArea (trimbox|artbox|bleedbox|cropbox|mediabox) #IMPLIED>
<!ATTLIST docinit printClip (trimbox|artbox|bleedbox|cropbox|mediabox) #IMPLIED>
<!ATTLIST docinit printScaling (none|appdefault) #IMPLIED>

<!ELEMENT color>
<!ATTLIST color id CDATA #REQUIRED>
<!ATTLIST color RGB CDATA #IMPLIED>
<!ATTLIST color CMYK CDATA #IMPLIED>
<!ATTLIST color value CDATA #IMPLIED>
<!ATTLIST color spotName CDATA #IMPLIED>
<!ATTLIST color density CDATA #IMPLIED>
<!ATTLIST color knockout CDATA #IMPLIED>
<!ATTLIST color alpha CDATA #IMPLIED>

<!ELEMENT name>
<!ATTLIST name id CDATA #REQUIRED>
<!ATTLIST name value CDATA #REQUIRED>

<!ELEMENT registerType1Face>
<!ATTLIST registerType1Face afmFile CDATA #REQUIRED>
<!ATTLIST registerType1Face pfbFile CDATA #REQUIRED>

<!ELEMENT registerFont>
<!ATTLIST registerFont name CDATA #REQUIRED>
<!ATTLIST registerFont faceName CDATA #REQUIRED>
<!ATTLIST registerFont encName CDATA #REQUIRED>

<!ELEMENT registerCidFont>
<!ATTLIST registerCidFont faceName CDATA #REQUIRED>
<!ATTLIST registerCidFont encName CDATA #IMPLIED>

<!ELEMENT registerTTFont>
<!ATTLIST registerTTFont faceName CDATA #REQUIRED>
<!ATTLIST registerTTFont fileName CDATA #REQUIRED>

<!ELEMENT registerFontFamily>
<!ATTLIST registerFontFamily name CDATA #REQUIRED>
<!ATTLIST registerFontFamily normal CDATA #IMPLIED>
<!ATTLIST registerFontFamily bold CDATA #IMPLIED>
<!ATTLIST registerFontFamily italic CDATA #IMPLIED>
<!ATTLIST registerFontFamily boldItalic CDATA #REQUIRED>

<!ELEMENT addMapping>
<!ATTLIST addMapping faceName CDATA #REQUIRED>
<!ATTLIST addMapping bold CDATA #REQUIRED>
<!ATTLIST addMapping italic CDATA #REQUIRED>
<!ATTLIST addMapping psName CDATA #REQUIRED>

<!ELEMENT logConfig>
<!ATTLIST logConfig level (DEBUG|INFO|WARNING|CRITICAL|ERROR) #IMPLIED>
<!ATTLIST logConfig format CDATA #IMPLIED>
<!ATTLIST logConfig filename CDATA #REQUIRED>
<!ATTLIST logConfig filemode (write|append) #IMPLIED>
<!ATTLIST logConfig datefmt CDATA #IMPLIED>

<!ELEMENT cropMarks>
<!ATTLIST cropMarks name CDATA #REQUIRED>
<!ATTLIST cropMarks borderWidth CDATA #IMPLIED>
<!ATTLIST cropMarks markColor CDATA #IMPLIED>
<!ATTLIST cropMarks markWidth CDATA #IMPLIED>
<!ATTLIST cropMarks markLength CDATA #IMPLIED>
<!ATTLIST cropMarks markLast CDATA #IMPLIED>
<!ATTLIST cropMarks bleedWidth CDATA #IMPLIED>

<!ELEMENT startIndex>
<!ATTLIST startIndex name CDATA #REQUIRED>
<!ATTLIST startIndex offset CDATA #IMPLIED>
<!ATTLIST startIndex format (i|123|abc) #IMPLIED>

<!ELEMENT stylesheet (initialize?,paraStyle*,blockTableStyle*,listStyle*)>

<!ELEMENT initialize (name*,alias*,color*)>

<!ELEMENT name>
<!ATTLIST name id CDATA #REQUIRED>
<!ATTLIST name value CDATA #REQUIRED>

<!ELEMENT alias>
<!ATTLIST alias id CDATA #REQUIRED>
<!ATTLIST alias value CDATA #REQUIRED>

<!ELEMENT color>
<!ATTLIST color id CDATA #REQUIRED>
<!ATTLIST color RGB CDATA #IMPLIED>
<!ATTLIST color CMYK CDATA #IMPLIED>
<!ATTLIST color value CDATA #IMPLIED>
<!ATTLIST color spotName CDATA #IMPLIED>
<!ATTLIST color density CDATA #IMPLIED>
<!ATTLIST color knockout CDATA #IMPLIED>
<!ATTLIST color alpha CDATA #IMPLIED>

<!ELEMENT paraStyle>
<!ATTLIST paraStyle fontName CDATA #IMPLIED>
<!ATTLIST paraStyle fontSize CDATA #IMPLIED>
<!ATTLIST paraStyle leading CDATA #IMPLIED>
<!ATTLIST paraStyle leftIndent CDATA #IMPLIED>
<!ATTLIST paraStyle rightIndent CDATA #IMPLIED>
<!ATTLIST paraStyle firstLineIndent CDATA #IMPLIED>
<!ATTLIST paraStyle alignment (left|right|center|centre|justify) #IMPLIED>
<!ATTLIST paraStyle spaceBefore CDATA #IMPLIED>
<!ATTLIST paraStyle spaceAfter CDATA #IMPLIED>
<!ATTLIST paraStyle bulletFontName CDATA #IMPLIED>
<!ATTLIST paraStyle bulletFontSize CDATA #IMPLIED>
<!ATTLIST paraStyle bulletIndent CDATA #IMPLIED>
<!ATTLIST paraStyle textColor CDATA #IMPLIED>
<!ATTLIST paraStyle backColor CDATA #IMPLIED>
<!ATTLIST paraStyle wordWrap CDATA #IMPLIED>
<!ATTLIST paraStyle borderWidth CDATA #IMPLIED>
<!ATTLIST paraStyle borderPadding CDATA #IMPLIED>
<!ATTLIST paraStyle borderColor CDATA #IMPLIED>
<!ATTLIST paraStyle borderRadius CDATA #IMPLIED>
<!ATTLIST paraStyle allowWidows CDATA #IMPLIED>
<!ATTLIST paraStyle allowOrphans CDATA #IMPLIED>
<!ATTLIST paraStyle textTransforms (uppercase|lowercase) #IMPLIED>
<!ATTLIST paraStyle endDots CDATA #IMPLIED>
<!ATTLIST paraStyle keepWithNext CDATA #IMPLIED>
<!ATTLIST paraStyle pageBreakBefore CDATA #IMPLIED>
<!ATTLIST paraStyle frameBreakBefore CDATA #IMPLIED>
<!ATTLIST paraStyle name CDATA #REQUIRED>
<!ATTLIST paraStyle alias CDATA #IMPLIED>
<!ATTLIST paraStyle parent CDATA #IMPLIED>

<!ELEMENT blockTableStyle (blockFont*,blockLeading*,blockTextColor*,blockAlignment*,blockLeftPadding*,blockRightPadding*,blockBottomPadding*,blockTopPadding*,blockBackground*,blockRowBackground*,blockColBackground*,blockValign*,blockSpan*,lineStyle*)>
<!ATTLIST blockTableStyle id CDATA #REQUIRED>
<!ATTLIST blockTableStyle keepWithNext CDATA #IMPLIED>

<!ELEMENT blockFont>
<!ATTLIST blockFont start CDATA #REQUIRED>
<!ATTLIST blockFont stop CDATA #REQUIRED>
<!ATTLIST blockFont name CDATA #IMPLIED>
<!ATTLIST blockFont size CDATA #IMPLIED>
<!ATTLIST blockFont leading CDATA #IMPLIED>

<!ELEMENT blockLeading>
<!ATTLIST blockLeading start CDATA #REQUIRED>
<!ATTLIST blockLeading stop CDATA #REQUIRED>
<!ATTLIST blockLeading length CDATA #REQUIRED>

<!ELEMENT blockTextColor>
<!ATTLIST blockTextColor start CDATA #REQUIRED>
<!ATTLIST blockTextColor stop CDATA #REQUIRED>
<!ATTLIST blockTextColor colorName CDATA #REQUIRED>

<!ELEMENT blockAlignment>
<!ATTLIST blockAlignment start CDATA #REQUIRED>
<!ATTLIST blockAlignment stop CDATA #REQUIRED>
<!ATTLIST blockAlignment value (left|decimal|right|center|centre) #REQUIRED>

<!ELEMENT blockLeftPadding>
<!ATTLIST blockLeftPadding start CDATA #REQUIRED>
<!ATTLIST blockLeftPadding stop CDATA #REQUIRED>
<!ATTLIST blockLeftPadding length CDATA #REQUIRED>

<!ELEMENT blockRightPadding>
<!ATTLIST blockRightPadding start CDATA #REQUIRED>
<!ATTLIST blockRightPadding stop CDATA #REQUIRED>
<!ATTLIST blockRightPadding length CDATA #REQUIRED>

<!ELEMENT blockBottomPadding>
<!ATTLIST blockBottomPadding start CDATA #REQUIRED>
<!ATTLIST blockBottomPadding stop CDATA #REQUIRED>
<!ATTLIST blockBottomPadding length CDATA #REQUIRED>

<!ELEMENT blockTopPadding>
<!ATTLIST blockTopPadding start CDATA #REQUIRED>
<!ATTLIST blockTopPadding stop CDATA #REQUIRED>
<!ATTLIST blockTopPadding length CDATA #REQUIRED>

<!ELEMENT blockBackground>
<!ATTLIST blockBackground start CDATA #REQUIRED>
<!ATTLIST blockBackground stop CDATA #REQUIRED>
<!ATTLIST blockBackground colorName CDATA #IMPLIED>
<!ATTLIST blockBackground colorsByRow CDATA #IMPLIED>
<!ATTLIST blockBackground colorsByCol CDATA #IMPLIED>

<!ELEMENT blockRowBackground>
<!ATTLIST blockRowBackground start CDATA #REQUIRED>
<!ATTLIST blockRowBackground stop CDATA #REQUIRED>
<!ATTLIST blockRowBackground colorNames CDATA #REQUIRED>

<!ELEMENT blockColBackground>
<!ATTLIST blockColBackground start CDATA #REQUIRED>
<!ATTLIST blockColBackground stop CDATA #REQUIRED>
<!ATTLIST blockColBackground colorNames CDATA #REQUIRED>

<!ELEMENT blockValign>
<!ATTLIST blockValign start CDATA #REQUIRED>
<!ATTLIST blockValign stop CDATA #REQUIRED>
<!ATTLIST blockValign value (middle|top|bottom) #REQUIRED>

<!ELEMENT blockSpan>
<!ATTLIST blockSpan start CDATA #REQUIRED>
<!ATTLIST blockSpan stop CDATA #REQUIRED>

<!ELEMENT lineStyle>
<!ATTLIST lineStyle start CDATA #REQUIRED>
<!ATTLIST lineStyle stop CDATA #REQUIRED>
<!ATTLIST lineStyle kind (box|outline|innergrid|linebefore|lineabove|linebelow|lineafter|grid) #REQUIRED>
<!ATTLIST lineStyle thickness CDATA #REQUIRED>
<!ATTLIST lineStyle colorName CDATA #REQUIRED>
<!ATTLIST lineStyle cap (default|square|round|butt) #REQUIRED>
<!ATTLIST lineStyle dash CDATA #IMPLIED>
<!ATTLIST lineStyle join (mitered|bevelled|round) #IMPLIED>
<!ATTLIST lineStyle count CDATA #IMPLIED>

<!ELEMENT listStyle>
<!ATTLIST listStyle leftIndent CDATA #IMPLIED>
<!ATTLIST listStyle rightIndent CDATA #IMPLIED>
<!ATTLIST listStyle bulletColor CDATA #IMPLIED>
<!ATTLIST listStyle bulletFontName CDATA #IMPLIED>
<!ATTLIST listStyle bulletFontSize CDATA #IMPLIED>
<!ATTLIST listStyle bulletOffsetY CDATA #IMPLIED>
<!ATTLIST listStyle bulletDedent CDATA #IMPLIED>
<!ATTLIST listStyle bulletDir (ltr|rtl) #IMPLIED>
<!ATTLIST listStyle bulletFormat CDATA #IMPLIED>
<!ATTLIST listStyle bulletType (A|a|square|bullet|rarrowhead|I|diamond|l|O|L|1|i|R|o|circle|r|disc) #IMPLIED>
<!ATTLIST listStyle start CDATA #IMPLIED>
<!ATTLIST listStyle name CDATA #REQUIRED>
<!ATTLIST listStyle parent CDATA #IMPLIED>

<!ELEMENT template (pageTemplate+)>
<!ATTLIST template pagesize CDATA #IMPLIED>
<!ATTLIST template rotation CDATA #IMPLIED>
<!ATTLIST template leftMargin CDATA #IMPLIED>
<!ATTLIST template rightMargin CDATA #IMPLIED>
<!ATTLIST template topMargin CDATA #IMPLIED>
<!ATTLIST template bottomMargin CDATA #IMPLIED>
<!ATTLIST template showBoundary CDATA #IMPLIED>
<!ATTLIST template allowSplitting CDATA #IMPLIED>
<!ATTLIST template title CDATA #IMPLIED>
<!ATTLIST template author CDATA #IMPLIED>

<!ELEMENT pageTemplate (frame+,pageGraphics?,mergePage?)>
<!ATTLIST pageTemplate id CDATA #REQUIRED>
<!ATTLIST pageTemplate pagesize CDATA #IMPLIED>
<!ATTLIST pageTemplate autoNextTemplate CDATA #IMPLIED>

<!ELEMENT frame>
<!ATTLIST frame x1 CDATA #REQUIRED>
<!ATTLIST frame y1 CDATA #REQUIRED>
<!ATTLIST frame width CDATA #REQUIRED>
<!ATTLIST frame height CDATA #REQUIRED>
<!ATTLIST frame id CDATA #IMPLIED>
<!ATTLIST frame leftPadding CDATA #IMPLIED>
<!ATTLIST frame rightPadding CDATA #IMPLIED>
<!ATTLIST frame topPadding CDATA #IMPLIED>
<!ATTLIST frame bottomPadding CDATA #IMPLIED>
<!ATTLIST frame showBoundary CDATA #IMPLIED>

<!ELEMENT pageGraphics>

<!ELEMENT mergePage>
<!ATTLIST mergePage filename CDATA #REQUIRED>
<!ATTLIST mergePage page CDATA #REQUIRED>

<!ELEMENT story (spacer*,illustration*,pre*,xpre*,codesnippet*,plugInFlowable*,barCodeFlowable*,outlineAdd*,title*,h1*,h2*,h3*,h4*,h5*,h6*,para*,blockTable*,nextFrame*,setNextFrame*,nextPage*,setNextTemplate*,condPageBreak*,keepInFrame*,keepTogether*,img*,imageAndFlowables*,pto*,indent*,fixedSize*,bookmarkPage*,bookmark*,link*,hr*,showIndex*,name*,namedString*,log*,debug*,info*,warning*,error*,critical*,docAssign*,docExec*,docPara*,docIf*,docElse*,docWhile*,ol*,ul*,includePdfPages*,storyPlace*)>
<!ATTLIST story firstPageTemplate CDATA #IMPLIED>

<!ELEMENT spacer>
<!ATTLIST spacer width CDATA #IMPLIED>
<!ATTLIST spacer length CDATA #REQUIRED>

<!ELEMENT illustration>
<!ATTLIST illustration width CDATA #REQUIRED>
<!ATTLIST illustration height CDATA #REQUIRED>

<!ELEMENT pre>
<!ATTLIST pre bulletText CDATA #IMPLIED>
<!ATTLIST pre dedent CDATA #IMPLIED>
<!ATTLIST pre style CDATA #IMPLIED>
<!ATTLIST pre text CDATA #REQUIRED>
<!ATTLIST pre maxLineLength CDATA #IMPLIED>
<!ATTLIST pre newLineChars CDATA #IMPLIED>

<!ELEMENT xpre>
<!ATTLIST xpre bulletText CDATA #IMPLIED>
<!ATTLIST xpre dedent CDATA #IMPLIED>
<!ATTLIST xpre style CDATA #IMPLIED>
<!ATTLIST xpre text CDATA #REQUIRED>

<!ELEMENT codesnippet>
<!ATTLIST codesnippet bulletText CDATA #IMPLIED>
<!ATTLIST codesnippet dedent CDATA #IMPLIED>
<!ATTLIST codesnippet text CDATA #REQUIRED>
<!ATTLIST codesnippet style CDATA #IMPLIED>
<!ATTLIST codesnippet language CDATA #IMPLIED>

<!ELEMENT plugInFlowable (#PCDATA)>
<!ATTLIST plugInFlowable module CDATA #REQUIRED>
<!ATTLIST plugInFlowable function CDATA #REQUIRED>

<!ELEMENT barCodeFlowable>
<!ATTLIST barCodeFlowable code (ean13|qr|extended39|standard39|upca|ean8|extended93|usps_4state|codabar|msi|postnet|fim|code11|standard93|i2of5|code128) #REQUIRED>
<!ATTLIST barCodeFlowable width CDATA #IMPLIED>
<!ATTLIST barCodeFlowable height CDATA #IMPLIED>
<!ATTLIST barCodeFlowable barStrokeColor CDATA #IMPLIED>
<!ATTLIST barCodeFlowable barStrokeWidth CDATA #IMPLIED>
<!ATTLIST barCodeFlowable barFillColor CDATA #IMPLIED>
<!ATTLIST barCodeFlowable gap CDATA #IMPLIED>
<!ATTLIST barCodeFlowable barWidth CDATA #IMPLIED>
<!ATTLIST barCodeFlowable barHeight CDATA #IMPLIED>
<!ATTLIST barCodeFlowable ratio CDATA #IMPLIED>
<!ATTLIST barCodeFlowable checksum CDATA #IMPLIED>
<!ATTLIST barCodeFlowable bearers CDATA #IMPLIED>
<!ATTLIST barCodeFlowable quiet CDATA #IMPLIED>
<!ATTLIST barCodeFlowable lquiet CDATA #IMPLIED>
<!ATTLIST barCodeFlowable rquiet CDATA #IMPLIED>
<!ATTLIST barCodeFlowable fontName CDATA #IMPLIED>
<!ATTLIST barCodeFlowable fontSize CDATA #IMPLIED>
<!ATTLIST barCodeFlowable humanReadable CDATA #IMPLIED>
<!ATTLIST barCodeFlowable stop CDATA #IMPLIED>
<!ATTLIST barCodeFlowable spaceWidth CDATA #IMPLIED>
<!ATTLIST barCodeFlowable shortHeight CDATA #IMPLIED>
<!ATTLIST barCodeFlowable textColor CDATA #IMPLIED>
<!ATTLIST barCodeFlowable routing CDATA #IMPLIED>
<!ATTLIST barCodeFlowable barLevel (q|h|m|l) #IMPLIED>
<!ATTLIST barCodeFlowable barBorder CDATA #IMPLIED>
<!ATTLIST barCodeFlowable value CDATA #REQUIRED>

<!ELEMENT outlineAdd (#PCDATA)>
<!ATTLIST outlineAdd key CDATA #IMPLIED>
<!ATTLIST outlineAdd level CDATA #IMPLIED>
<!ATTLIST outlineAdd closed CDATA #IMPLIED>

<!ELEMENT title>
<!ATTLIST title fontName CDATA #IMPLIED>
<!ATTLIST title fontSize CDATA #IMPLIED>
<!ATTLIST title leading CDATA #IMPLIED>
<!ATTLIST title leftIndent CDATA #IMPLIED>
<!ATTLIST title rightIndent CDATA #IMPLIED>
<!ATTLIST title firstLineIndent CDATA #IMPLIED>
<!ATTLIST title alignment (left|right|center|centre|justify) #IMPLIED>
<!ATTLIST title spaceBefore CDATA #IMPLIED>
<!ATTLIST title spaceAfter CDATA #IMPLIED>
<!ATTLIST title bulletFontName CDATA #IMPLIED>
<!ATTLIST title bulletFontSize CDATA #IMPLIED>
<!ATTLIST title bulletIndent CDATA #IMPLIED>
<!ATTLIST title textColor CDATA #IMPLIED>
<!ATTLIST title backColor CDATA #IMPLIED>
<!ATTLIST title wordWrap CDATA #IMPLIED>
<!ATTLIST title borderWidth CDATA #IMPLIED>
<!ATTLIST title borderPadding CDATA #IMPLIED>
<!ATTLIST title borderColor CDATA #IMPLIED>
<!ATTLIST title borderRadius CDATA #IMPLIED>
<!ATTLIST title allowWidows CDATA #IMPLIED>
<!ATTLIST title allowOrphans CDATA #IMPLIED>
<!ATTLIST title textTransforms (uppercase|lowercase) #IMPLIED>
<!ATTLIST title endDots CDATA #IMPLIED>
<!ATTLIST title keepWithNext CDATA #IMPLIED>
<!ATTLIST title pageBreakBefore CDATA #IMPLIED>
<!ATTLIST title frameBreakBefore CDATA #IMPLIED>
<!ATTLIST title style CDATA #IMPLIED>
<!ATTLIST title bulletText CDATA #IMPLIED>
<!ATTLIST title dedent CDATA #IMPLIED>
<!ATTLIST title text CDATA #REQUIRED>

<!ELEMENT h1>
<!ATTLIST h1 fontName CDATA #IMPLIED>
<!ATTLIST h1 fontSize CDATA #IMPLIED>
<!ATTLIST h1 leading CDATA #IMPLIED>
<!ATTLIST h1 leftIndent CDATA #IMPLIED>
<!ATTLIST h1 rightIndent CDATA #IMPLIED>
<!ATTLIST h1 firstLineIndent CDATA #IMPLIED>
<!ATTLIST h1 alignment (left|right|center|centre|justify) #IMPLIED>
<!ATTLIST h1 spaceBefore CDATA #IMPLIED>
<!ATTLIST h1 spaceAfter CDATA #IMPLIED>
<!ATTLIST h1 bulletFontName CDATA #IMPLIED>
<!ATTLIST h1 bulletFontSize CDATA #IMPLIED>
<!ATTLIST h1 bulletIndent CDATA #IMPLIED>
<!ATTLIST h1 textColor CDATA #IMPLIED>
<!ATTLIST h1 backColor CDATA #IMPLIED>
<!ATTLIST h1 wordWrap CDATA #IMPLIED>
<!ATTLIST h1 borderWidth CDATA #IMPLIED>
<!ATTLIST h1 borderPadding CDATA #IMPLIED>
<!ATTLIST h1 borderColor CDATA #IMPLIED>
<!ATTLIST h1 borderRadius CDATA #IMPLIED>
<!ATTLIST h1 allowWidows CDATA #IMPLIED>
<!ATTLIST h1 allowOrphans CDATA #IMPLIED>
<!ATTLIST h1 textTransforms (uppercase|lowercase) #IMPLIED>
<!ATTLIST h1 endDots CDATA #IMPLIED>
<!ATTLIST h1 keepWithNext CDATA #IMPLIED>
<!ATTLIST h1 pageBreakBefore CDATA #IMPLIED>
<!ATTLIST h1 frameBreakBefore CDATA #IMPLIED>
<!ATTLIST h1 style CDATA #IMPLIED>
<!ATTLIST h1 bulletText CDATA #IMPLIED>
<!ATTLIST h1 dedent CDATA #IMPLIED>
<!ATTLIST h1 text CDATA #REQUIRED>

<!ELEMENT h2>
<!ATTLIST h2 fontName CDATA #IMPLIED>
<!ATTLIST h2 fontSize CDATA #IMPLIED>
<!ATTLIST h2 leading CDATA #IMPLIED>
<!ATTLIST h2 leftIndent CDATA #IMPLIED>
<!ATTLIST h2 rightIndent CDATA #IMPLIED>
<!ATTLIST h2 firstLineIndent CDATA #IMPLIED>
<!ATTLIST h2 alignment (left|right|center|centre|justify) #IMPLIED>
<!ATTLIST h2 spaceBefore CDATA #IMPLIED>
<!ATTLIST h2 spaceAfter CDATA #IMPLIED>
<!ATTLIST h2 bulletFontName CDATA #IMPLIED>
<!ATTLIST h2 bulletFontSize CDATA #IMPLIED>
<!ATTLIST h2 bulletIndent CDATA #IMPLIED>
<!ATTLIST h2 textColor CDATA #IMPLIED>
<!ATTLIST h2 backColor CDATA #IMPLIED>
<!ATTLIST h2 wordWrap CDATA #IMPLIED>
<!ATTLIST h2 borderWidth CDATA #IMPLIED>
<!ATTLIST h2 borderPadding CDATA #IMPLIED>
<!ATTLIST h2 borderColor CDATA #IMPLIED>
<!ATTLIST h2 borderRadius CDATA #IMPLIED>
<!ATTLIST h2 allowWidows CDATA #IMPLIED>
<!ATTLIST h2 allowOrphans CDATA #IMPLIED>
<!ATTLIST h2 textTransforms (uppercase|lowercase) #IMPLIED>
<!ATTLIST h2 endDots CDATA #IMPLIED>
<!ATTLIST h2 keepWithNext CDATA #IMPLIED>
<!ATTLIST h2 pageBreakBefore CDATA #IMPLIED>
<!ATTLIST h2 frameBreakBefore CDATA #IMPLIED>
<!ATTLIST h2 style CDATA #IMPLIED>
<!ATTLIST h2 bulletText CDATA #IMPLIED>
<!ATTLIST h2 dedent CDATA #IMPLIED>
<!ATTLIST h2 text CDATA #REQUIRED>

<!ELEMENT h3>
<!ATTLIST h3 fontName CDATA #IMPLIED>
<!ATTLIST h3 fontSize CDATA #IMPLIED>
<!ATTLIST h3 leading CDATA #IMPLIED>
<!ATTLIST h3 leftIndent CDATA #IMPLIED>
<!ATTLIST h3 rightIndent CDATA #IMPLIED>
<!ATTLIST h3 firstLineIndent CDATA #IMPLIED>
<!ATTLIST h3 alignment (left|right|center|centre|justify) #IMPLIED>
<!ATTLIST h3 spaceBefore CDATA #IMPLIED>
<!ATTLIST h3 spaceAfter CDATA #IMPLIED>
<!ATTLIST h3 bulletFontName CDATA #IMPLIED>
<!ATTLIST h3 bulletFontSize CDATA #IMPLIED>
<!ATTLIST h3 bulletIndent CDATA #IMPLIED>
<!ATTLIST h3 textColor CDATA #IMPLIED>
<!ATTLIST h3 backColor CDATA #IMPLIED>
<!ATTLIST h3 wordWrap CDATA #IMPLIED>
<!ATTLIST h3 borderWidth CDATA #IMPLIED>
<!ATTLIST h3 borderPadding CDATA #IMPLIED>
<!ATTLIST h3 borderColor CDATA #IMPLIED>
<!ATTLIST h3 borderRadius CDATA #IMPLIED>
<!ATTLIST h3 allowWidows CDATA #IMPLIED>
<!ATTLIST h3 allowOrphans CDATA #IMPLIED>
<!ATTLIST h3 textTransforms (uppercase|lowercase) #IMPLIED>
<!ATTLIST h3 endDots CDATA #IMPLIED>
<!ATTLIST h3 keepWithNext CDATA #IMPLIED>
<!ATTLIST h3 pageBreakBefore CDATA #IMPLIED>
<!ATTLIST h3 frameBreakBefore CDATA #IMPLIED>
<!ATTLIST h3 style CDATA #IMPLIED>
<!ATTLIST h3 bulletText CDATA #IMPLIED>
<!ATTLIST h3 dedent CDATA #IMPLIED>
<!ATTLIST h3 text CDATA #REQUIRED>

<!ELEMENT h4>
<!ATTLIST h4 fontName CDATA #IMPLIED>
<!ATTLIST h4 fontSize CDATA #IMPLIED>
<!ATTLIST h4 leading CDATA #IMPLIED>
<!ATTLIST h4 leftIndent CDATA #IMPLIED>
<!ATTLIST h4 rightIndent CDATA #IMPLIED>
<!ATTLIST h4 firstLineIndent CDATA #IMPLIED>
<!ATTLIST h4 alignment (left|right|center|centre|justify) #IMPLIED>
<!ATTLIST h4 spaceBefore CDATA #IMPLIED>
<!ATTLIST h4 spaceAfter CDATA #IMPLIED>
<!ATTLIST h4 bulletFontName CDATA #IMPLIED>
<!ATTLIST h4 bulletFontSize CDATA #IMPLIED>
<!ATTLIST h4 bulletIndent CDATA #IMPLIED>
<!ATTLIST h4 textColor CDATA #IMPLIED>
<!ATTLIST h4 backColor CDATA #IMPLIED>
<!ATTLIST h4 wordWrap CDATA #IMPLIED>
<!ATTLIST h4 borderWidth CDATA #IMPLIED>
<!ATTLIST h4 borderPadding CDATA #IMPLIED>
<!ATTLIST h4 borderColor CDATA #IMPLIED>
<!ATTLIST h4 borderRadius CDATA #IMPLIED>
<!ATTLIST h4 allowWidows CDATA #IMPLIED>
<!ATTLIST h4 allowOrphans CDATA #IMPLIED>
<!ATTLIST h4 textTransforms (uppercase|lowercase) #IMPLIED>
<!ATTLIST h4 endDots CDATA #IMPLIED>
<!ATTLIST h4 keepWithNext CDATA #IMPLIED>
<!ATTLIST h4 pageBreakBefore CDATA #IMPLIED>
<!ATTLIST h4 frameBreakBefore CDATA #IMPLIED>
<!ATTLIST h4 style CDATA #IMPLIED>
<!ATTLIST h4 bulletText CDATA #IMPLIED>
<!ATTLIST h4 dedent CDATA #IMPLIED>
<!ATTLIST h4 text CDATA #REQUIRED>

<!ELEMENT h5>
<!ATTLIST h5 fontName CDATA #IMPLIED>
<!ATTLIST h5 fontSize CDATA #IMPLIED>
<!ATTLIST h5 leading CDATA #IMPLIED>
<!ATTLIST h5 leftIndent CDATA #IMPLIED>
<!ATTLIST h5 rightIndent CDATA #IMPLIED>
<!ATTLIST h5 firstLineIndent CDATA #IMPLIED>
<!ATTLIST h5 alignment (left|right|center|centre|justify) #IMPLIED>
<!ATTLIST h5 spaceBefore CDATA #IMPLIED>
<!ATTLIST h5 spaceAfter CDATA #IMPLIED>
<!ATTLIST h5 bulletFontName CDATA #IMPLIED>
<!ATTLIST h5 bulletFontSize CDATA #IMPLIED>
<!ATTLIST h5 bulletIndent CDATA #IMPLIED>
<!ATTLIST h5 textColor CDATA #IMPLIED>
<!ATTLIST h5 backColor CDATA #IMPLIED>
<!ATTLIST h5 wordWrap CDATA #IMPLIED>
<!ATTLIST h5 borderWidth CDATA #IMPLIED>
<!ATTLIST h5 borderPadding CDATA #IMPLIED>
<!ATTLIST h5 borderColor CDATA #IMPLIED>
<!ATTLIST h5 borderRadius CDATA #IMPLIED>
<!ATTLIST h5 allowWidows CDATA #IMPLIED>
<!ATTLIST h5 allowOrphans CDATA #IMPLIED>
<!ATTLIST h5 textTransforms (uppercase|lowercase) #IMPLIED>
<!ATTLIST h5 endDots CDATA #IMPLIED>
<!ATTLIST h5 keepWithNext CDATA #IMPLIED>
<!ATTLIST h5 pageBreakBefore CDATA #IMPLIED>
<!ATTLIST h5 frameBreakBefore CDATA #IMPLIED>
<!ATTLIST h5 style CDATA #IMPLIED>
<!ATTLIST h5 bulletText CDATA #IMPLIED>
<!ATTLIST h5 dedent CDATA #IMPLIED>
<!ATTLIST h5 text CDATA #REQUIRED>

<!ELEMENT h6>
<!ATTLIST h6 fontName CDATA #IMPLIED>
<!ATTLIST h6 fontSize CDATA #IMPLIED>
<!ATTLIST h6 leading CDATA #IMPLIED>
<!ATTLIST h6 leftIndent CDATA #IMPLIED>
<!ATTLIST h6 rightIndent CDATA #IMPLIED>
<!ATTLIST h6 firstLineIndent CDATA #IMPLIED>
<!ATTLIST h6 alignment (left|right|center|centre|justify) #IMPLIED>
<!ATTLIST h6 spaceBefore CDATA #IMPLIED>
<!ATTLIST h6 spaceAfter CDATA #IMPLIED>
<!ATTLIST h6 bulletFontName CDATA #IMPLIED>
<!ATTLIST h6 bulletFontSize CDATA #IMPLIED>
<!ATTLIST h6 bulletIndent CDATA #IMPLIED>
<!ATTLIST h6 textColor CDATA #IMPLIED>
<!ATTLIST h6 backColor CDATA #IMPLIED>
<!ATTLIST h6 wordWrap CDATA #IMPLIED>
<!ATTLIST h6 borderWidth CDATA #IMPLIED>
<!ATTLIST h6 borderPadding CDATA #IMPLIED>
<!ATTLIST h6 borderColor CDATA #IMPLIED>
<!ATTLIST h6 borderRadius CDATA #IMPLIED>
<!ATTLIST h6 allowWidows CDATA #IMPLIED>
<!ATTLIST h6 allowOrphans CDATA #IMPLIED>
<!ATTLIST h6 textTransforms (uppercase|lowercase) #IMPLIED>
<!ATTLIST h6 endDots CDATA #IMPLIED>
<!ATTLIST h6 keepWithNext CDATA #IMPLIED>
<!ATTLIST h6 pageBreakBefore CDATA #IMPLIED>
<!ATTLIST h6 frameBreakBefore CDATA #IMPLIED>
<!ATTLIST h6 style CDATA #IMPLIED>
<!ATTLIST h6 bulletText CDATA #IMPLIED>
<!ATTLIST h6 dedent CDATA #IMPLIED>
<!ATTLIST h6 text CDATA #REQUIRED>

<!ELEMENT para>
<!ATTLIST para fontName CDATA #IMPLIED>
<!ATTLIST para fontSize CDATA #IMPLIED>
<!ATTLIST para leading CDATA #IMPLIED>
<!ATTLIST para leftIndent CDATA #IMPLIED>
<!ATTLIST para rightIndent CDATA #IMPLIED>
<!ATTLIST para firstLineIndent CDATA #IMPLIED>
<!ATTLIST para alignment (left|right|center|centre|justify) #IMPLIED>
<!ATTLIST para spaceBefore CDATA #IMPLIED>
<!ATTLIST para spaceAfter CDATA #IMPLIED>
<!ATTLIST para bulletFontName CDATA #IMPLIED>
<!ATTLIST para bulletFontSize CDATA #IMPLIED>
<!ATTLIST para bulletIndent CDATA #IMPLIED>
<!ATTLIST para textColor CDATA #IMPLIED>
<!ATTLIST para backColor CDATA #IMPLIED>
<!ATTLIST para wordWrap CDATA #IMPLIED>
<!ATTLIST para borderWidth CDATA #IMPLIED>
<!ATTLIST para borderPadding CDATA #IMPLIED>
<!ATTLIST para borderColor CDATA #IMPLIED>
<!ATTLIST para borderRadius CDATA #IMPLIED>
<!ATTLIST para allowWidows CDATA #IMPLIED>
<!ATTLIST para allowOrphans CDATA #IMPLIED>
<!ATTLIST para textTransforms (uppercase|lowercase) #IMPLIED>
<!ATTLIST para endDots CDATA #IMPLIED>
<!ATTLIST para keepWithNext CDATA #IMPLIED>
<!ATTLIST para pageBreakBefore CDATA #IMPLIED>
<!ATTLIST para frameBreakBefore CDATA #IMPLIED>
<!ATTLIST para style CDATA #IMPLIED>
<!ATTLIST para bulletText CDATA #IMPLIED>
<!ATTLIST para dedent CDATA #IMPLIED>
<!ATTLIST para text CDATA #REQUIRED>

<!ELEMENT blockTable (tr*,bulkData?,blockTableStyle*)>
<!ATTLIST blockTable style CDATA #IMPLIED>
<!ATTLIST blockTable rowHeights CDATA #IMPLIED>
<!ATTLIST blockTable colWidths CDATA #IMPLIED>
<!ATTLIST blockTable repeatRows CDATA #IMPLIED>
<!ATTLIST blockTable alignment (left|decimal|right|center|centre) #IMPLIED>

<!ELEMENT tr (td+)>

<!ELEMENT td>
<!ATTLIST td content CDATA #REQUIRED>
<!ATTLIST td fontName CDATA #IMPLIED>
<!ATTLIST td fontSize CDATA #IMPLIED>
<!ATTLIST td leading CDATA #IMPLIED>
<!ATTLIST td fontColor CDATA #IMPLIED>
<!ATTLIST td leftPadding CDATA #IMPLIED>
<!ATTLIST td rightPadding CDATA #IMPLIED>
<!ATTLIST td topPadding CDATA #IMPLIED>
<!ATTLIST td bottomPadding CDATA #IMPLIED>
<!ATTLIST td background CDATA #IMPLIED>
<!ATTLIST td align (left|decimal|right|center|centre) #IMPLIED>
<!ATTLIST td vAlign (middle|top|bottom) #IMPLIED>
<!ATTLIST td lineBelowThickness CDATA #IMPLIED>
<!ATTLIST td lineBelowColor CDATA #IMPLIED>
<!ATTLIST td lineBelowCap (default|square|round|butt) #IMPLIED>
<!ATTLIST td lineBelowCount CDATA #IMPLIED>
<!ATTLIST td lineBelowSpace CDATA #IMPLIED>
<!ATTLIST td lineAboveThickness CDATA #IMPLIED>
<!ATTLIST td lineAboveColor CDATA #IMPLIED>
<!ATTLIST td lineAboveCap (default|square|round|butt) #IMPLIED>
<!ATTLIST td lineAboveCount CDATA #IMPLIED>
<!ATTLIST td lineAboveSpace CDATA #IMPLIED>
<!ATTLIST td lineLeftThickness CDATA #IMPLIED>
<!ATTLIST td lineLeftColor CDATA #IMPLIED>
<!ATTLIST td lineLeftCap (default|square|round|butt) #IMPLIED>
<!ATTLIST td lineLeftCount CDATA #IMPLIED>
<!ATTLIST td lineLeftSpace CDATA #IMPLIED>
<!ATTLIST td lineRightThickness CDATA #IMPLIED>
<!ATTLIST td lineRightColor CDATA #IMPLIED>
<!ATTLIST td lineRightCap (default|square|round|butt) #IMPLIED>
<!ATTLIST td lineRightCount CDATA #IMPLIED>
<!ATTLIST td lineRightSpace CDATA #IMPLIED>
<!ATTLIST td href CDATA #IMPLIED>
<!ATTLIST td destination CDATA #IMPLIED>

<!ELEMENT bulkData (#PCDATA)>

<!ELEMENT blockTableStyle (blockFont*,blockLeading*,blockTextColor*,blockAlignment*,blockLeftPadding*,blockRightPadding*,blockBottomPadding*,blockTopPadding*,blockBackground*,blockRowBackground*,blockColBackground*,blockValign*,blockSpan*,lineStyle*)>
<!ATTLIST blockTableStyle id CDATA #REQUIRED>
<!ATTLIST blockTableStyle keepWithNext CDATA #IMPLIED>

<!ELEMENT blockFont>
<!ATTLIST blockFont start CDATA #REQUIRED>
<!ATTLIST blockFont stop CDATA #REQUIRED>
<!ATTLIST blockFont name CDATA #IMPLIED>
<!ATTLIST blockFont size CDATA #IMPLIED>
<!ATTLIST blockFont leading CDATA #IMPLIED>

<!ELEMENT blockLeading>
<!ATTLIST blockLeading start CDATA #REQUIRED>
<!ATTLIST blockLeading stop CDATA #REQUIRED>
<!ATTLIST blockLeading length CDATA #REQUIRED>

<!ELEMENT blockTextColor>
<!ATTLIST blockTextColor start CDATA #REQUIRED>
<!ATTLIST blockTextColor stop CDATA #REQUIRED>
<!ATTLIST blockTextColor colorName CDATA #REQUIRED>

<!ELEMENT blockAlignment>
<!ATTLIST blockAlignment start CDATA #REQUIRED>
<!ATTLIST blockAlignment stop CDATA #REQUIRED>
<!ATTLIST blockAlignment value (left|decimal|right|center|centre) #REQUIRED>

<!ELEMENT blockLeftPadding>
<!ATTLIST blockLeftPadding start CDATA #REQUIRED>
<!ATTLIST blockLeftPadding stop CDATA #REQUIRED>
<!ATTLIST blockLeftPadding length CDATA #REQUIRED>

<!ELEMENT blockRightPadding>
<!ATTLIST blockRightPadding start CDATA #REQUIRED>
<!ATTLIST blockRightPadding stop CDATA #REQUIRED>
<!ATTLIST blockRightPadding length CDATA #REQUIRED>

<!ELEMENT blockBottomPadding>
<!ATTLIST blockBottomPadding start CDATA #REQUIRED>
<!ATTLIST blockBottomPadding stop CDATA #REQUIRED>
<!ATTLIST blockBottomPadding length CDATA #REQUIRED>

<!ELEMENT blockTopPadding>
<!ATTLIST blockTopPadding start CDATA #REQUIRED>
<!ATTLIST blockTopPadding stop CDATA #REQUIRED>
<!ATTLIST blockTopPadding length CDATA #REQUIRED>

<!ELEMENT blockBackground>
<!ATTLIST blockBackground start CDATA #REQUIRED>
<!ATTLIST blockBackground stop CDATA #REQUIRED>
<!ATTLIST blockBackground colorName CDATA #IMPLIED>
<!ATTLIST blockBackground colorsByRow CDATA #IMPLIED>
<!ATTLIST blockBackground colorsByCol CDATA #IMPLIED>

<!ELEMENT blockRowBackground>
<!ATTLIST blockRowBackground start CDATA #REQUIRED>
<!ATTLIST blockRowBackground stop CDATA #REQUIRED>
<!ATTLIST blockRowBackground colorNames CDATA #REQUIRED>

<!ELEMENT blockColBackground>
<!ATTLIST blockColBackground start CDATA #REQUIRED>
<!ATTLIST blockColBackground stop CDATA #REQUIRED>
<!ATTLIST blockColBackground colorNames CDATA #REQUIRED>

<!ELEMENT blockValign>
<!ATTLIST blockValign start CDATA #REQUIRED>
<!ATTLIST blockValign stop CDATA #REQUIRED>
<!ATTLIST blockValign value (middle|top|bottom) #REQUIRED>

<!ELEMENT blockSpan>
<!ATTLIST blockSpan start CDATA #REQUIRED>
<!ATTLIST blockSpan stop CDATA #REQUIRED>

<!ELEMENT lineStyle>
<!ATTLIST lineStyle start CDATA #REQUIRED>
<!ATTLIST lineStyle stop CDATA #REQUIRED>
<!ATTLIST lineStyle kind (box|outline|innergrid|linebefore|lineabove|linebelow|lineafter|grid) #REQUIRED>
<!ATTLIST lineStyle thickness CDATA #REQUIRED>
<!ATTLIST lineStyle colorName CDATA #REQUIRED>
<!ATTLIST lineStyle cap (default|square|round|butt) #REQUIRED>
<!ATTLIST lineStyle dash CDATA #IMPLIED>
<!ATTLIST lineStyle join (mitered|bevelled|round) #IMPLIED>
<!ATTLIST lineStyle count CDATA #IMPLIED>

<!ELEMENT nextFrame>
<!ATTLIST nextFrame name CDATA #IMPLIED>

<!ELEMENT setNextFrame>
<!ATTLIST setNextFrame name CDATA #REQUIRED>

<!ELEMENT nextPage>

<!ELEMENT setNextTemplate>
<!ATTLIST setNextTemplate name CDATA #REQUIRED>

<!ELEMENT condPageBreak>
<!ATTLIST condPageBreak height CDATA #REQUIRED>

<!ELEMENT keepInFrame>
<!ATTLIST keepInFrame maxWidth CDATA #IMPLIED>
<!ATTLIST keepInFrame maxHeight CDATA #IMPLIED>
<!ATTLIST keepInFrame mergeSpace CDATA #IMPLIED>
<!ATTLIST keepInFrame onOverflow (overflow|shrink|truncate|error) #IMPLIED>
<!ATTLIST keepInFrame id CDATA #IMPLIED>
<!ATTLIST keepInFrame frame CDATA #IMPLIED>

<!ELEMENT keepTogether>
<!ATTLIST keepTogether maxHeight CDATA #IMPLIED>

<!ELEMENT img>
<!ATTLIST img src CDATA #REQUIRED>
<!ATTLIST img width CDATA #IMPLIED>
<!ATTLIST img height CDATA #IMPLIED>
<!ATTLIST img preserveAspectRatio CDATA #IMPLIED>
<!ATTLIST img mask CDATA #IMPLIED>
<!ATTLIST img align (left|decimal|right|center|centre) #IMPLIED>
<!ATTLIST img vAlign (middle|top|bottom) #IMPLIED>

<!ELEMENT imageAndFlowables>
<!ATTLIST imageAndFlowables imageName CDATA #REQUIRED>
<!ATTLIST imageAndFlowables imageWidth CDATA #IMPLIED>
<!ATTLIST imageAndFlowables imageHeight CDATA #IMPLIED>
<!ATTLIST imageAndFlowables imageMask CDATA #IMPLIED>
<!ATTLIST imageAndFlowables imageLeftPadding CDATA #IMPLIED>
<!ATTLIST imageAndFlowables imageRightPadding CDATA #IMPLIED>
<!ATTLIST imageAndFlowables imageTopPadding CDATA #IMPLIED>
<!ATTLIST imageAndFlowables imageBottomPadding CDATA #IMPLIED>
<!ATTLIST imageAndFlowables imageSide (right|left) #IMPLIED>

<!ELEMENT pto>

<!ELEMENT indent>
<!ATTLIST indent left CDATA #IMPLIED>
<!ATTLIST indent right CDATA #IMPLIED>

<!ELEMENT fixedSize>
<!ATTLIST fixedSize width CDATA #REQUIRED>
<!ATTLIST fixedSize height CDATA #REQUIRED>

<!ELEMENT bookmarkPage>
<!ATTLIST bookmarkPage name CDATA #REQUIRED>
<!ATTLIST bookmarkPage fit (fitr|xyz|fith|fitv|fit) #IMPLIED>
<!ATTLIST bookmarkPage top CDATA #IMPLIED>
<!ATTLIST bookmarkPage bottom CDATA #IMPLIED>
<!ATTLIST bookmarkPage left CDATA #IMPLIED>
<!ATTLIST bookmarkPage right CDATA #IMPLIED>
<!ATTLIST bookmarkPage zoom CDATA #IMPLIED>

<!ELEMENT bookmark>
<!ATTLIST bookmark name CDATA #REQUIRED>
<!ATTLIST bookmark x CDATA #IMPLIED>
<!ATTLIST bookmark y CDATA #IMPLIED>

<!ELEMENT link>
<!ATTLIST link destination CDATA #IMPLIED>
<!ATTLIST link url CDATA #IMPLIED>
<!ATTLIST link boxStrokeWidth CDATA #IMPLIED>
<!ATTLIST link boxStrokeDashArray CDATA #IMPLIED>
<!ATTLIST link boxStrokeColor CDATA #IMPLIED>

<!ELEMENT hr>
<!ATTLIST hr width CDATA #IMPLIED>
<!ATTLIST hr thickness CDATA #IMPLIED>
<!ATTLIST hr color CDATA #IMPLIED>
<!ATTLIST hr lineCap (default|square|round|butt) #IMPLIED>
<!ATTLIST hr spaceBefore CDATA #IMPLIED>
<!ATTLIST hr spaceAfter CDATA #IMPLIED>
<!ATTLIST hr align (left|decimal|right|center|centre) #IMPLIED>
<!ATTLIST hr valign (middle|top|bottom) #IMPLIED>
<!ATTLIST hr dash CDATA #IMPLIED>

<!ELEMENT showIndex>
<!ATTLIST showIndex name CDATA #IMPLIED>
<!ATTLIST showIndex dot CDATA #IMPLIED>
<!ATTLIST showIndex style CDATA #IMPLIED>
<!ATTLIST showIndex tableStyle CDATA #IMPLIED>

<!ELEMENT name>
<!ATTLIST name id CDATA #REQUIRED>
<!ATTLIST name value CDATA #REQUIRED>

<!ELEMENT namedString>
<!ATTLIST namedString id CDATA #REQUIRED>
<!ATTLIST namedString value CDATA #REQUIRED>

<!ELEMENT log>
<!ATTLIST log message CDATA #REQUIRED>
<!ATTLIST log level (DEBUG|INFO|WARNING|CRITICAL|ERROR) #REQUIRED>

<!ELEMENT debug>
<!ATTLIST debug message CDATA #REQUIRED>

<!ELEMENT info>
<!ATTLIST info message CDATA #REQUIRED>

<!ELEMENT warning>
<!ATTLIST warning message CDATA #REQUIRED>

<!ELEMENT error>
<!ATTLIST error message CDATA #REQUIRED>

<!ELEMENT critical>
<!ATTLIST critical message CDATA #REQUIRED>

<!ELEMENT docAssign>
<!ATTLIST docAssign var CDATA #REQUIRED>
<!ATTLIST docAssign expr CDATA #REQUIRED>

<!ELEMENT docExec>
<!ATTLIST docExec stmt CDATA #REQUIRED>

<!ELEMENT docPara>
<!ATTLIST docPara expr CDATA #REQUIRED>
<!ATTLIST docPara format CDATA #IMPLIED>
<!ATTLIST docPara style CDATA #IMPLIED>
<!ATTLIST docPara escape CDATA #IMPLIED>

<!ELEMENT docIf>
<!ATTLIST docIf cond CDATA #REQUIRED>

<!ELEMENT docElse>

<!ELEMENT docWhile>
<!ATTLIST docWhile cond CDATA #REQUIRED>

<!ELEMENT ol (li*)>
<!ATTLIST ol leftIndent CDATA #IMPLIED>
<!ATTLIST ol rightIndent CDATA #IMPLIED>
<!ATTLIST ol bulletColor CDATA #IMPLIED>
<!ATTLIST ol bulletFontName CDATA #IMPLIED>
<!ATTLIST ol bulletFontSize CDATA #IMPLIED>
<!ATTLIST ol bulletOffsetY CDATA #IMPLIED>
<!ATTLIST ol bulletDedent CDATA #IMPLIED>
<!ATTLIST ol bulletDir (ltr|rtl) #IMPLIED>
<!ATTLIST ol bulletFormat CDATA #IMPLIED>
<!ATTLIST ol start CDATA #IMPLIED>
<!ATTLIST ol style CDATA #IMPLIED>
<!ATTLIST ol bulletType (A|a|I|l|O|L|1|i|R|o|r) #IMPLIED>

<!ELEMENT li>
<!ATTLIST li leftIndent CDATA #IMPLIED>
<!ATTLIST li rightIndent CDATA #IMPLIED>
<!ATTLIST li bulletColor CDATA #IMPLIED>
<!ATTLIST li bulletFontName CDATA #IMPLIED>
<!ATTLIST li bulletFontSize CDATA #IMPLIED>
<!ATTLIST li bulletOffsetY CDATA #IMPLIED>
<!ATTLIST li bulletDedent CDATA #IMPLIED>
<!ATTLIST li bulletDir (ltr|rtl) #IMPLIED>
<!ATTLIST li bulletFormat CDATA #IMPLIED>
<!ATTLIST li bulletType (A|a|square|bullet|rarrowhead|I|diamond|l|O|L|1|i|R|o|circle|r|disc) #IMPLIED>
<!ATTLIST li style CDATA #IMPLIED>
<!ATTLIST li value CDATA #IMPLIED>

<!ELEMENT ul (li*)>
<!ATTLIST ul leftIndent CDATA #IMPLIED>
<!ATTLIST ul rightIndent CDATA #IMPLIED>
<!ATTLIST ul bulletColor CDATA #IMPLIED>
<!ATTLIST ul bulletFontName CDATA #IMPLIED>
<!ATTLIST ul bulletFontSize CDATA #IMPLIED>
<!ATTLIST ul bulletOffsetY CDATA #IMPLIED>
<!ATTLIST ul bulletDedent CDATA #IMPLIED>
<!ATTLIST ul bulletDir (ltr|rtl) #IMPLIED>
<!ATTLIST ul bulletFormat CDATA #IMPLIED>
<!ATTLIST ul bulletType (A|a|square|bullet|rarrowhead|I|diamond|l|O|L|1|i|R|o|circle|r|disc) #IMPLIED>
<!ATTLIST ul start CDATA #IMPLIED>
<!ATTLIST ul style CDATA #IMPLIED>
<!ATTLIST ul value (square|bullet|diamond|rarrowhead|disc|circle) #IMPLIED>

<!ELEMENT li>
<!ATTLIST li leftIndent CDATA #IMPLIED>
<!ATTLIST li rightIndent CDATA #IMPLIED>
<!ATTLIST li bulletColor CDATA #IMPLIED>
<!ATTLIST li bulletFontName CDATA #IMPLIED>
<!ATTLIST li bulletFontSize CDATA #IMPLIED>
<!ATTLIST li bulletOffsetY CDATA #IMPLIED>
<!ATTLIST li bulletDedent CDATA #IMPLIED>
<!ATTLIST li bulletDir (ltr|rtl) #IMPLIED>
<!ATTLIST li bulletFormat CDATA #IMPLIED>
<!ATTLIST li bulletType (A|a|square|bullet|rarrowhead|I|diamond|l|O|L|1|i|R|o|circle|r|disc) #IMPLIED>
<!ATTLIST li style CDATA #IMPLIED>
<!ATTLIST li value (square|bullet|diamond|rarrowhead|disc|circle) #IMPLIED>

<!ELEMENT includePdfPages>
<!ATTLIST includePdfPages filename CDATA #REQUIRED>
<!ATTLIST includePdfPages pages CDATA #IMPLIED>

<!ELEMENT storyPlace>
<!ATTLIST storyPlace x CDATA #REQUIRED>
<!ATTLIST storyPlace y CDATA #REQUIRED>
<!ATTLIST storyPlace width CDATA #IMPLIED>
<!ATTLIST storyPlace height CDATA #IMPLIED>
<!ATTLIST storyPlace origin (frame|local|page) #IMPLIED>

<!ELEMENT pageInfo>
<!ATTLIST pageInfo pageSize CDATA #REQUIRED>

<!ELEMENT pageDrawing (saveState*,restoreState*,drawString*,drawRightString*,drawCenteredString*,drawCentredString*,drawAlignedString*,ellipse*,circle*,rect*,grid*,lines*,curves*,image*,place*,textAnnotation*,path*,fill*,stroke*,setFont*,setFontSize*,scale*,translate*,rotate*,skew*,transform*,lineMode*,barCode*,textField*,buttonField*,selectField*,barChart*,barChart3D*,linePlot*,linePlot3D*,pieChart*,pieChart3D*,spiderChart*,bookmark*,plugInGraphic*)>

<!ELEMENT saveState>

<!ELEMENT restoreState>

<!ELEMENT drawString>
<!ATTLIST drawString x CDATA #REQUIRED>
<!ATTLIST drawString y CDATA #REQUIRED>
<!ATTLIST drawString text CDATA #REQUIRED>

<!ELEMENT drawRightString>
<!ATTLIST drawRightString x CDATA #REQUIRED>
<!ATTLIST drawRightString y CDATA #REQUIRED>
<!ATTLIST drawRightString text CDATA #REQUIRED>

<!ELEMENT drawCenteredString>
<!ATTLIST drawCenteredString x CDATA #REQUIRED>
<!ATTLIST drawCenteredString y CDATA #REQUIRED>
<!ATTLIST drawCenteredString text CDATA #REQUIRED>

<!ELEMENT drawCentredString>
<!ATTLIST drawCentredString x CDATA #REQUIRED>
<!ATTLIST drawCentredString y CDATA #REQUIRED>
<!ATTLIST drawCentredString text CDATA #REQUIRED>

<!ELEMENT drawAlignedString>
<!ATTLIST drawAlignedString x CDATA #REQUIRED>
<!ATTLIST drawAlignedString y CDATA #REQUIRED>
<!ATTLIST drawAlignedString text CDATA #REQUIRED>
<!ATTLIST drawAlignedString pivotChar CDATA #REQUIRED>

<!ELEMENT ellipse>
<!ATTLIST ellipse x CDATA #REQUIRED>
<!ATTLIST ellipse y CDATA #REQUIRED>
<!ATTLIST ellipse fill CDATA #IMPLIED>
<!ATTLIST ellipse stroke CDATA #IMPLIED>
<!ATTLIST ellipse width CDATA #REQUIRED>
<!ATTLIST ellipse height CDATA #REQUIRED>

<!ELEMENT circle>
<!ATTLIST circle x CDATA #REQUIRED>
<!ATTLIST circle y CDATA #REQUIRED>
<!ATTLIST circle fill CDATA #IMPLIED>
<!ATTLIST circle stroke CDATA #IMPLIED>
<!ATTLIST circle radius CDATA #REQUIRED>

<!ELEMENT rect>
<!ATTLIST rect x CDATA #REQUIRED>
<!ATTLIST rect y CDATA #REQUIRED>
<!ATTLIST rect fill CDATA #IMPLIED>
<!ATTLIST rect stroke CDATA #IMPLIED>
<!ATTLIST rect width CDATA #REQUIRED>
<!ATTLIST rect height CDATA #REQUIRED>
<!ATTLIST rect round CDATA #IMPLIED>
<!ATTLIST rect href CDATA #IMPLIED>
<!ATTLIST rect destination CDATA #IMPLIED>

<!ELEMENT grid>
<!ATTLIST grid xs CDATA #REQUIRED>
<!ATTLIST grid ys CDATA #REQUIRED>

<!ELEMENT lines (#PCDATA)>

<!ELEMENT curves (#PCDATA)>

<!ELEMENT image>
<!ATTLIST image file CDATA #REQUIRED>
<!ATTLIST image x CDATA #REQUIRED>
<!ATTLIST image y CDATA #REQUIRED>
<!ATTLIST image width CDATA #IMPLIED>
<!ATTLIST image height CDATA #IMPLIED>
<!ATTLIST image showBoundary CDATA #IMPLIED>
<!ATTLIST image preserveAspectRatio CDATA #IMPLIED>

<!ELEMENT place>
<!ATTLIST place x CDATA #REQUIRED>
<!ATTLIST place y CDATA #REQUIRED>
<!ATTLIST place width CDATA #IMPLIED>
<!ATTLIST place height CDATA #IMPLIED>

<!ELEMENT textAnnotation (param*,#PCDATA)>

<!ELEMENT param (#PCDATA)>
<!ATTLIST param name CDATA #REQUIRED>

<!ELEMENT path (moveto*,curveto*,curvesto*,#PCDATA)>
<!ATTLIST path x CDATA #REQUIRED>
<!ATTLIST path y CDATA #REQUIRED>
<!ATTLIST path fill CDATA #IMPLIED>
<!ATTLIST path stroke CDATA #IMPLIED>
<!ATTLIST path close CDATA #IMPLIED>
<!ATTLIST path clip CDATA #IMPLIED>

<!ELEMENT moveto (#PCDATA)>

<!ELEMENT curveto (#PCDATA)>

<!ELEMENT curvesto (#PCDATA)>

<!ELEMENT fill>
<!ATTLIST fill color CDATA #REQUIRED>

<!ELEMENT stroke>
<!ATTLIST stroke color CDATA #REQUIRED>

<!ELEMENT setFont>
<!ATTLIST setFont name CDATA #REQUIRED>
<!ATTLIST setFont size CDATA #REQUIRED>
<!ATTLIST setFont leading CDATA #IMPLIED>

<!ELEMENT setFontSize>
<!ATTLIST setFontSize size CDATA #REQUIRED>
<!ATTLIST setFontSize leading CDATA #IMPLIED>

<!ELEMENT scale>
<!ATTLIST scale sx CDATA #IMPLIED>
<!ATTLIST scale sy CDATA #IMPLIED>

<!ELEMENT translate>
<!ATTLIST translate dx CDATA #REQUIRED>
<!ATTLIST translate dy CDATA #REQUIRED>

<!ELEMENT rotate>
<!ATTLIST rotate degrees CDATA #REQUIRED>

<!ELEMENT skew>
<!ATTLIST skew alpha CDATA #REQUIRED>
<!ATTLIST skew beta CDATA #REQUIRED>

<!ELEMENT transform (#PCDATA)>

<!ELEMENT lineMode>
<!ATTLIST lineMode width CDATA #IMPLIED>
<!ATTLIST lineMode dash CDATA #IMPLIED>
<!ATTLIST lineMode miterLimit CDATA #IMPLIED>
<!ATTLIST lineMode join (mitered|bevelled|round) #IMPLIED>
<!ATTLIST lineMode cap (default|square|round|butt) #IMPLIED>

<!ELEMENT barCode (#PCDATA)>
<!ATTLIST barCode code (ean13|qr|extended39|standard39|upca|ean8|extended93|usps_4state|codabar|msi|postnet|fim|code11|standard93|i2of5|code128) #REQUIRED>
<!ATTLIST barCode width CDATA #IMPLIED>
<!ATTLIST barCode height CDATA #IMPLIED>
<!ATTLIST barCode barStrokeColor CDATA #IMPLIED>
<!ATTLIST barCode barStrokeWidth CDATA #IMPLIED>
<!ATTLIST barCode barFillColor CDATA #IMPLIED>
<!ATTLIST barCode gap CDATA #IMPLIED>
<!ATTLIST barCode barWidth CDATA #IMPLIED>
<!ATTLIST barCode barHeight CDATA #IMPLIED>
<!ATTLIST barCode ratio CDATA #IMPLIED>
<!ATTLIST barCode checksum CDATA #IMPLIED>
<!ATTLIST barCode bearers CDATA #IMPLIED>
<!ATTLIST barCode quiet CDATA #IMPLIED>
<!ATTLIST barCode lquiet CDATA #IMPLIED>
<!ATTLIST barCode rquiet CDATA #IMPLIED>
<!ATTLIST barCode fontName CDATA #IMPLIED>
<!ATTLIST barCode fontSize CDATA #IMPLIED>
<!ATTLIST barCode humanReadable CDATA #IMPLIED>
<!ATTLIST barCode stop CDATA #IMPLIED>
<!ATTLIST barCode spaceWidth CDATA #IMPLIED>
<!ATTLIST barCode shortHeight CDATA #IMPLIED>
<!ATTLIST barCode textColor CDATA #IMPLIED>
<!ATTLIST barCode routing CDATA #IMPLIED>
<!ATTLIST barCode barLevel (q|h|m|l) #IMPLIED>
<!ATTLIST barCode barBorder CDATA #IMPLIED>
<!ATTLIST barCode x CDATA #IMPLIED>
<!ATTLIST barCode y CDATA #IMPLIED>
<!ATTLIST barCode isoScale CDATA #IMPLIED>

<!ELEMENT textField>
<!ATTLIST textField title CDATA #REQUIRED>
<!ATTLIST textField x CDATA #REQUIRED>
<!ATTLIST textField y CDATA #REQUIRED>
<!ATTLIST textField width CDATA #REQUIRED>
<!ATTLIST textField height CDATA #REQUIRED>
<!ATTLIST textField value CDATA #IMPLIED>
<!ATTLIST textField maxLength CDATA #IMPLIED>
<!ATTLIST textField multiline CDATA #IMPLIED>

<!ELEMENT buttonField>
<!ATTLIST buttonField title CDATA #REQUIRED>
<!ATTLIST buttonField x CDATA #REQUIRED>
<!ATTLIST buttonField y CDATA #REQUIRED>
<!ATTLIST buttonField value (yes|off) #REQUIRED>

<!ELEMENT selectField (option*)>
<!ATTLIST selectField title CDATA #REQUIRED>
<!ATTLIST selectField x CDATA #REQUIRED>
<!ATTLIST selectField y CDATA #REQUIRED>
<!ATTLIST selectField width CDATA #REQUIRED>
<!ATTLIST selectField height CDATA #REQUIRED>
<!ATTLIST selectField value CDATA #IMPLIED>

<!ELEMENT option (#PCDATA)>

<!ELEMENT barChart (data,bars?,categoryAxis?,valueAxis?,barLabels?,texts?)>
<!ATTLIST barChart dx CDATA #IMPLIED>
<!ATTLIST barChart dy CDATA #IMPLIED>
<!ATTLIST barChart dwidth CDATA #IMPLIED>
<!ATTLIST barChart dheight CDATA #IMPLIED>
<!ATTLIST barChart angle CDATA #IMPLIED>
<!ATTLIST barChart x CDATA #IMPLIED>
<!ATTLIST barChart y CDATA #IMPLIED>
<!ATTLIST barChart width CDATA #IMPLIED>
<!ATTLIST barChart height CDATA #IMPLIED>
<!ATTLIST barChart strokeColor CDATA #IMPLIED>
<!ATTLIST barChart strokeWidth CDATA #IMPLIED>
<!ATTLIST barChart fillColor CDATA #IMPLIED>
<!ATTLIST barChart debug CDATA #IMPLIED>
<!ATTLIST barChart direction (horizontal|vertical) #IMPLIED>
<!ATTLIST barChart useAbsolute CDATA #IMPLIED>
<!ATTLIST barChart barWidth CDATA #IMPLIED>
<!ATTLIST barChart groupSpacing CDATA #IMPLIED>
<!ATTLIST barChart barSpacing CDATA #IMPLIED>
<!ATTLIST barChart barLabelFormat CDATA #IMPLIED>

<!ELEMENT data (series+)>

<!ELEMENT series (#PCDATA)>

<!ELEMENT bars (bar*)>
<!ATTLIST bars strokeColor CDATA #IMPLIED>
<!ATTLIST bars strokeWidth CDATA #IMPLIED>
<!ATTLIST bars fillColor CDATA #IMPLIED>

<!ELEMENT bar>
<!ATTLIST bar strokeColor CDATA #IMPLIED>
<!ATTLIST bar strokeWidth CDATA #IMPLIED>
<!ATTLIST bar fillColor CDATA #IMPLIED>

<!ELEMENT categoryAxis (categoryNames?,labels*)>
<!ATTLIST categoryAxis visible CDATA #IMPLIED>
<!ATTLIST categoryAxis visibleAxis CDATA #IMPLIED>
<!ATTLIST categoryAxis visibleTicks CDATA #IMPLIED>
<!ATTLIST categoryAxis visibleLabels CDATA #IMPLIED>
<!ATTLIST categoryAxis visibleGrid CDATA #IMPLIED>
<!ATTLIST categoryAxis strokeWidth CDATA #IMPLIED>
<!ATTLIST categoryAxis strokeColor CDATA #IMPLIED>
<!ATTLIST categoryAxis strokeDashArray CDATA #IMPLIED>
<!ATTLIST categoryAxis gridStrokeWidth CDATA #IMPLIED>
<!ATTLIST categoryAxis gridStrokeColor CDATA #IMPLIED>
<!ATTLIST categoryAxis gridStrokeDashArray CDATA #IMPLIED>
<!ATTLIST categoryAxis gridStart CDATA #IMPLIED>
<!ATTLIST categoryAxis gridEnd CDATA #IMPLIED>
<!ATTLIST categoryAxis style (stacked|parallel|parallel_3d) #IMPLIED>
<!ATTLIST categoryAxis categoryNames CDATA #IMPLIED>
<!ATTLIST categoryAxis joinAxis CDATA #IMPLIED>
<!ATTLIST categoryAxis joinAxisPos CDATA #IMPLIED>
<!ATTLIST categoryAxis reverseDirection CDATA #IMPLIED>
<!ATTLIST categoryAxis labelAxisMode (high|low|axis) #IMPLIED>
<!ATTLIST categoryAxis tickShift CDATA #IMPLIED>

<!ELEMENT categoryNames (name+)>

<!ELEMENT name (#PCDATA)>

<!ELEMENT labels (label*)>
<!ATTLIST labels dx CDATA #IMPLIED>
<!ATTLIST labels dy CDATA #IMPLIED>
<!ATTLIST labels angle CDATA #IMPLIED>
<!ATTLIST labels boxAnchor (c|e|sw|ne|n|s|w|autox|autoy|se|nw) #IMPLIED>
<!ATTLIST labels boxStrokeColor CDATA #IMPLIED>
<!ATTLIST labels boxStrokeWidth CDATA #IMPLIED>
<!ATTLIST labels boxFillColor CDATA #IMPLIED>
<!ATTLIST labels boxTarget CDATA #IMPLIED>
<!ATTLIST labels fillColor CDATA #IMPLIED>
<!ATTLIST labels strokeColor CDATA #IMPLIED>
<!ATTLIST labels strokeWidth CDATA #IMPLIED>
<!ATTLIST labels fontName CDATA #IMPLIED>
<!ATTLIST labels fontSize CDATA #IMPLIED>
<!ATTLIST labels leading CDATA #IMPLIED>
<!ATTLIST labels width CDATA #IMPLIED>
<!ATTLIST labels maxWidth CDATA #IMPLIED>
<!ATTLIST labels height CDATA #IMPLIED>
<!ATTLIST labels textAnchor (start|boxauto|end|middle) #IMPLIED>
<!ATTLIST labels visible CDATA #IMPLIED>
<!ATTLIST labels leftPadding CDATA #IMPLIED>
<!ATTLIST labels rightPadding CDATA #IMPLIED>
<!ATTLIST labels topPadding CDATA #IMPLIED>
<!ATTLIST labels bottomPadding CDATA #IMPLIED>
<!ATTLIST labels x CDATA #IMPLIED>
<!ATTLIST labels y CDATA #IMPLIED>

<!ELEMENT label (#PCDATA)>
<!ATTLIST label dx CDATA #IMPLIED>
<!ATTLIST label dy CDATA #IMPLIED>
<!ATTLIST label angle CDATA #IMPLIED>
<!ATTLIST label boxAnchor (c|e|sw|ne|n|s|w|autox|autoy|se|nw) #IMPLIED>
<!ATTLIST label boxStrokeColor CDATA #IMPLIED>
<!ATTLIST label boxStrokeWidth CDATA #IMPLIED>
<!ATTLIST label boxFillColor CDATA #IMPLIED>
<!ATTLIST label boxTarget CDATA #IMPLIED>
<!ATTLIST label fillColor CDATA #IMPLIED>
<!ATTLIST label strokeColor CDATA #IMPLIED>
<!ATTLIST label strokeWidth CDATA #IMPLIED>
<!ATTLIST label fontName CDATA #IMPLIED>
<!ATTLIST label fontSize CDATA #IMPLIED>
<!ATTLIST label leading CDATA #IMPLIED>
<!ATTLIST label width CDATA #IMPLIED>
<!ATTLIST label maxWidth CDATA #IMPLIED>
<!ATTLIST label height CDATA #IMPLIED>
<!ATTLIST label textAnchor (start|boxauto|end|middle) #IMPLIED>
<!ATTLIST label visible CDATA #IMPLIED>
<!ATTLIST label leftPadding CDATA #IMPLIED>
<!ATTLIST label rightPadding CDATA #IMPLIED>
<!ATTLIST label topPadding CDATA #IMPLIED>
<!ATTLIST label bottomPadding CDATA #IMPLIED>
<!ATTLIST label x CDATA #IMPLIED>
<!ATTLIST label y CDATA #IMPLIED>

<!ELEMENT valueAxis>
<!ATTLIST valueAxis visible CDATA #IMPLIED>
<!ATTLIST valueAxis visibleAxis CDATA #IMPLIED>
<!ATTLIST valueAxis visibleTicks CDATA #IMPLIED>
<!ATTLIST valueAxis visibleLabels CDATA #IMPLIED>
<!ATTLIST valueAxis visibleGrid CDATA #IMPLIED>
<!ATTLIST valueAxis strokeWidth CDATA #IMPLIED>
<!ATTLIST valueAxis strokeColor CDATA #IMPLIED>
<!ATTLIST valueAxis strokeDashArray CDATA #IMPLIED>
<!ATTLIST valueAxis gridStrokeWidth CDATA #IMPLIED>
<!ATTLIST valueAxis gridStrokeColor CDATA #IMPLIED>
<!ATTLIST valueAxis gridStrokeDashArray CDATA #IMPLIED>
<!ATTLIST valueAxis gridStart CDATA #IMPLIED>
<!ATTLIST valueAxis gridEnd CDATA #IMPLIED>
<!ATTLIST valueAxis style (stacked|parallel|parallel_3d) #IMPLIED>
<!ATTLIST valueAxis forceZero CDATA #IMPLIED>
<!ATTLIST valueAxis minimumTickSpacing CDATA #IMPLIED>
<!ATTLIST valueAxis maximumTicks CDATA #IMPLIED>
<!ATTLIST valueAxis labelTextFormat CDATA #IMPLIED>
<!ATTLIST valueAxis labelTextPostFormat CDATA #IMPLIED>
<!ATTLIST valueAxis labelTextScale CDATA #IMPLIED>
<!ATTLIST valueAxis valueMin CDATA #IMPLIED>
<!ATTLIST valueAxis valueMax CDATA #IMPLIED>
<!ATTLIST valueAxis valueStep CDATA #IMPLIED>
<!ATTLIST valueAxis valueSteps CDATA #IMPLIED>
<!ATTLIST valueAxis rangeRound (both|none|ceiling|floor) #IMPLIED>
<!ATTLIST valueAxis zrangePref CDATA #IMPLIED>

<!ELEMENT barLabels (label*)>
<!ATTLIST barLabels dx CDATA #IMPLIED>
<!ATTLIST barLabels dy CDATA #IMPLIED>
<!ATTLIST barLabels angle CDATA #IMPLIED>
<!ATTLIST barLabels boxAnchor (c|e|sw|ne|n|s|w|autox|autoy|se|nw) #IMPLIED>
<!ATTLIST barLabels boxStrokeColor CDATA #IMPLIED>
<!ATTLIST barLabels boxStrokeWidth CDATA #IMPLIED>
<!ATTLIST barLabels boxFillColor CDATA #IMPLIED>
<!ATTLIST barLabels boxTarget CDATA #IMPLIED>
<!ATTLIST barLabels fillColor CDATA #IMPLIED>
<!ATTLIST barLabels strokeColor CDATA #IMPLIED>
<!ATTLIST barLabels strokeWidth CDATA #IMPLIED>
<!ATTLIST barLabels fontName CDATA #IMPLIED>
<!ATTLIST barLabels fontSize CDATA #IMPLIED>
<!ATTLIST barLabels leading CDATA #IMPLIED>
<!ATTLIST barLabels width CDATA #IMPLIED>
<!ATTLIST barLabels maxWidth CDATA #IMPLIED>
<!ATTLIST barLabels height CDATA #IMPLIED>
<!ATTLIST barLabels textAnchor (start|boxauto|end|middle) #IMPLIED>
<!ATTLIST barLabels visible CDATA #IMPLIED>
<!ATTLIST barLabels leftPadding CDATA #IMPLIED>
<!ATTLIST barLabels rightPadding CDATA #IMPLIED>
<!ATTLIST barLabels topPadding CDATA #IMPLIED>
<!ATTLIST barLabels bottomPadding CDATA #IMPLIED>

<!ELEMENT label (#PCDATA)>
<!ATTLIST label dx CDATA #IMPLIED>
<!ATTLIST label dy CDATA #IMPLIED>
<!ATTLIST label angle CDATA #IMPLIED>
<!ATTLIST label boxAnchor (c|e|sw|ne|n|s|w|autox|autoy|se|nw) #IMPLIED>
<!ATTLIST label boxStrokeColor CDATA #IMPLIED>
<!ATTLIST label boxStrokeWidth CDATA #IMPLIED>
<!ATTLIST label boxFillColor CDATA #IMPLIED>
<!ATTLIST label boxTarget CDATA #IMPLIED>
<!ATTLIST label fillColor CDATA #IMPLIED>
<!ATTLIST label strokeColor CDATA #IMPLIED>
<!ATTLIST label strokeWidth CDATA #IMPLIED>
<!ATTLIST label fontName CDATA #IMPLIED>
<!ATTLIST label fontSize CDATA #IMPLIED>
<!ATTLIST label leading CDATA #IMPLIED>
<!ATTLIST label width CDATA #IMPLIED>
<!ATTLIST label maxWidth CDATA #IMPLIED>
<!ATTLIST label height CDATA #IMPLIED>
<!ATTLIST label textAnchor (start|boxauto|end|middle) #IMPLIED>
<!ATTLIST label visible CDATA #IMPLIED>
<!ATTLIST label leftPadding CDATA #IMPLIED>
<!ATTLIST label rightPadding CDATA #IMPLIED>
<!ATTLIST label topPadding CDATA #IMPLIED>
<!ATTLIST label bottomPadding CDATA #IMPLIED>
<!ATTLIST label x CDATA #IMPLIED>
<!ATTLIST label y CDATA #IMPLIED>

<!ELEMENT texts (text*)>

<!ELEMENT text (#PCDATA)>
<!ATTLIST text x CDATA #REQUIRED>
<!ATTLIST text y CDATA #REQUIRED>
<!ATTLIST text angle CDATA #IMPLIED>
<!ATTLIST text fontName CDATA #IMPLIED>
<!ATTLIST text fontSize CDATA #IMPLIED>
<!ATTLIST text fillColor CDATA #IMPLIED>
<!ATTLIST text textAnchor (start|boxauto|end|middle) #IMPLIED>

<!ELEMENT barChart3D (data,bars?,categoryAxis?,valueAxis?,barLabels?,texts?)>
<!ATTLIST barChart3D dx CDATA #IMPLIED>
<!ATTLIST barChart3D dy CDATA #IMPLIED>
<!ATTLIST barChart3D dwidth CDATA #IMPLIED>
<!ATTLIST barChart3D dheight CDATA #IMPLIED>
<!ATTLIST barChart3D angle CDATA #IMPLIED>
<!ATTLIST barChart3D x CDATA #IMPLIED>
<!ATTLIST barChart3D y CDATA #IMPLIED>
<!ATTLIST barChart3D width CDATA #IMPLIED>
<!ATTLIST barChart3D height CDATA #IMPLIED>
<!ATTLIST barChart3D strokeColor CDATA #IMPLIED>
<!ATTLIST barChart3D strokeWidth CDATA #IMPLIED>
<!ATTLIST barChart3D fillColor CDATA #IMPLIED>
<!ATTLIST barChart3D debug CDATA #IMPLIED>
<!ATTLIST barChart3D direction (horizontal|vertical) #IMPLIED>
<!ATTLIST barChart3D useAbsolute CDATA #IMPLIED>
<!ATTLIST barChart3D barWidth CDATA #IMPLIED>
<!ATTLIST barChart3D groupSpacing CDATA #IMPLIED>
<!ATTLIST barChart3D barSpacing CDATA #IMPLIED>
<!ATTLIST barChart3D barLabelFormat CDATA #IMPLIED>
<!ATTLIST barChart3D thetaX CDATA #IMPLIED>
<!ATTLIST barChart3D thetaY CDATA #IMPLIED>
<!ATTLIST barChart3D zDepth CDATA #IMPLIED>
<!ATTLIST barChart3D zSpace CDATA #IMPLIED>

<!ELEMENT data (series+)>

<!ELEMENT series (#PCDATA)>

<!ELEMENT bars (bar*)>
<!ATTLIST bars strokeColor CDATA #IMPLIED>
<!ATTLIST bars strokeWidth CDATA #IMPLIED>
<!ATTLIST bars fillColor CDATA #IMPLIED>

<!ELEMENT bar>
<!ATTLIST bar strokeColor CDATA #IMPLIED>
<!ATTLIST bar strokeWidth CDATA #IMPLIED>
<!ATTLIST bar fillColor CDATA #IMPLIED>

<!ELEMENT categoryAxis (categoryNames?,labels*)>
<!ATTLIST categoryAxis visible CDATA #IMPLIED>
<!ATTLIST categoryAxis visibleAxis CDATA #IMPLIED>
<!ATTLIST categoryAxis visibleTicks CDATA #IMPLIED>
<!ATTLIST categoryAxis visibleLabels CDATA #IMPLIED>
<!ATTLIST categoryAxis visibleGrid CDATA #IMPLIED>
<!ATTLIST categoryAxis strokeWidth CDATA #IMPLIED>
<!ATTLIST categoryAxis strokeColor CDATA #IMPLIED>
<!ATTLIST categoryAxis strokeDashArray CDATA #IMPLIED>
<!ATTLIST categoryAxis gridStrokeWidth CDATA #IMPLIED>
<!ATTLIST categoryAxis gridStrokeColor CDATA #IMPLIED>
<!ATTLIST categoryAxis gridStrokeDashArray CDATA #IMPLIED>
<!ATTLIST categoryAxis gridStart CDATA #IMPLIED>
<!ATTLIST categoryAxis gridEnd CDATA #IMPLIED>
<!ATTLIST categoryAxis style (stacked|parallel|parallel_3d) #IMPLIED>
<!ATTLIST categoryAxis categoryNames CDATA #IMPLIED>
<!ATTLIST categoryAxis joinAxis CDATA #IMPLIED>
<!ATTLIST categoryAxis joinAxisPos CDATA #IMPLIED>
<!ATTLIST categoryAxis reverseDirection CDATA #IMPLIED>
<!ATTLIST categoryAxis labelAxisMode (high|low|axis) #IMPLIED>
<!ATTLIST categoryAxis tickShift CDATA #IMPLIED>

<!ELEMENT categoryNames (name+)>

<!ELEMENT name (#PCDATA)>

<!ELEMENT labels (label*)>
<!ATTLIST labels dx CDATA #IMPLIED>
<!ATTLIST labels dy CDATA #IMPLIED>
<!ATTLIST labels angle CDATA #IMPLIED>
<!ATTLIST labels boxAnchor (c|e|sw|ne|n|s|w|autox|autoy|se|nw) #IMPLIED>
<!ATTLIST labels boxStrokeColor CDATA #IMPLIED>
<!ATTLIST labels boxStrokeWidth CDATA #IMPLIED>
<!ATTLIST labels boxFillColor CDATA #IMPLIED>
<!ATTLIST labels boxTarget CDATA #IMPLIED>
<!ATTLIST labels fillColor CDATA #IMPLIED>
<!ATTLIST labels strokeColor CDATA #IMPLIED>
<!ATTLIST labels strokeWidth CDATA #IMPLIED>
<!ATTLIST labels fontName CDATA #IMPLIED>
<!ATTLIST labels fontSize CDATA #IMPLIED>
<!ATTLIST labels leading CDATA #IMPLIED>
<!ATTLIST labels width CDATA #IMPLIED>
<!ATTLIST labels maxWidth CDATA #IMPLIED>
<!ATTLIST labels height CDATA #IMPLIED>
<!ATTLIST labels textAnchor (start|boxauto|end|middle) #IMPLIED>
<!ATTLIST labels visible CDATA #IMPLIED>
<!ATTLIST labels leftPadding CDATA #IMPLIED>
<!ATTLIST labels rightPadding CDATA #IMPLIED>
<!ATTLIST labels topPadding CDATA #IMPLIED>
<!ATTLIST labels bottomPadding CDATA #IMPLIED>
<!ATTLIST labels x CDATA #IMPLIED>
<!ATTLIST labels y CDATA #IMPLIED>

<!ELEMENT label (#PCDATA)>
<!ATTLIST label dx CDATA #IMPLIED>
<!ATTLIST label dy CDATA #IMPLIED>
<!ATTLIST label angle CDATA #IMPLIED>
<!ATTLIST label boxAnchor (c|e|sw|ne|n|s|w|autox|autoy|se|nw) #IMPLIED>
<!ATTLIST label boxStrokeColor CDATA #IMPLIED>
<!ATTLIST label boxStrokeWidth CDATA #IMPLIED>
<!ATTLIST label boxFillColor CDATA #IMPLIED>
<!ATTLIST label boxTarget CDATA #IMPLIED>
<!ATTLIST label fillColor CDATA #IMPLIED>
<!ATTLIST label strokeColor CDATA #IMPLIED>
<!ATTLIST label strokeWidth CDATA #IMPLIED>
<!ATTLIST label fontName CDATA #IMPLIED>
<!ATTLIST label fontSize CDATA #IMPLIED>
<!ATTLIST label leading CDATA #IMPLIED>
<!ATTLIST label width CDATA #IMPLIED>
<!ATTLIST label maxWidth CDATA #IMPLIED>
<!ATTLIST label height CDATA #IMPLIED>
<!ATTLIST label textAnchor (start|boxauto|end|middle) #IMPLIED>
<!ATTLIST label visible CDATA #IMPLIED>
<!ATTLIST label leftPadding CDATA #IMPLIED>
<!ATTLIST label rightPadding CDATA #IMPLIED>
<!ATTLIST label topPadding CDATA #IMPLIED>
<!ATTLIST label bottomPadding CDATA #IMPLIED>
<!ATTLIST label x CDATA #IMPLIED>
<!ATTLIST label y CDATA #IMPLIED>

<!ELEMENT valueAxis>
<!ATTLIST valueAxis visible CDATA #IMPLIED>
<!ATTLIST valueAxis visibleAxis CDATA #IMPLIED>
<!ATTLIST valueAxis visibleTicks CDATA #IMPLIED>
<!ATTLIST valueAxis visibleLabels CDATA #IMPLIED>
<!ATTLIST valueAxis visibleGrid CDATA #IMPLIED>
<!ATTLIST valueAxis strokeWidth CDATA #IMPLIED>
<!ATTLIST valueAxis strokeColor CDATA #IMPLIED>
<!ATTLIST valueAxis strokeDashArray CDATA #IMPLIED>
<!ATTLIST valueAxis gridStrokeWidth CDATA #IMPLIED>
<!ATTLIST valueAxis gridStrokeColor CDATA #IMPLIED>
<!ATTLIST valueAxis gridStrokeDashArray CDATA #IMPLIED>
<!ATTLIST valueAxis gridStart CDATA #IMPLIED>
<!ATTLIST valueAxis gridEnd CDATA #IMPLIED>
<!ATTLIST valueAxis style (stacked|parallel|parallel_3d) #IMPLIED>
<!ATTLIST valueAxis forceZero CDATA #IMPLIED>
<!ATTLIST valueAxis minimumTickSpacing CDATA #IMPLIED>
<!ATTLIST valueAxis maximumTicks CDATA #IMPLIED>
<!ATTLIST valueAxis labelTextFormat CDATA #IMPLIED>
<!ATTLIST valueAxis labelTextPostFormat CDATA #IMPLIED>
<!ATTLIST valueAxis labelTextScale CDATA #IMPLIED>
<!ATTLIST valueAxis valueMin CDATA #IMPLIED>
<!ATTLIST valueAxis valueMax CDATA #IMPLIED>
<!ATTLIST valueAxis valueStep CDATA #IMPLIED>
<!ATTLIST valueAxis valueSteps CDATA #IMPLIED>
<!ATTLIST valueAxis rangeRound (both|none|ceiling|floor) #IMPLIED>
<!ATTLIST valueAxis zrangePref CDATA #IMPLIED>

<!ELEMENT barLabels (label*)>
<!ATTLIST barLabels dx CDATA #IMPLIED>
<!ATTLIST barLabels dy CDATA #IMPLIED>
<!ATTLIST barLabels angle CDATA #IMPLIED>
<!ATTLIST barLabels boxAnchor (c|e|sw|ne|n|s|w|autox|autoy|se|nw) #IMPLIED>
<!ATTLIST barLabels boxStrokeColor CDATA #IMPLIED>
<!ATTLIST barLabels boxStrokeWidth CDATA #IMPLIED>
<!ATTLIST barLabels boxFillColor CDATA #IMPLIED>
<!ATTLIST barLabels boxTarget CDATA #IMPLIED>
<!ATTLIST barLabels fillColor CDATA #IMPLIED>
<!ATTLIST barLabels strokeColor CDATA #IMPLIED>
<!ATTLIST barLabels strokeWidth CDATA #IMPLIED>
<!ATTLIST barLabels fontName CDATA #IMPLIED>
<!ATTLIST barLabels fontSize CDATA #IMPLIED>
<!ATTLIST barLabels leading CDATA #IMPLIED>
<!ATTLIST barLabels width CDATA #IMPLIED>
<!ATTLIST barLabels maxWidth CDATA #IMPLIED>
<!ATTLIST barLabels height CDATA #IMPLIED>
<!ATTLIST barLabels textAnchor (start|boxauto|end|middle) #IMPLIED>
<!ATTLIST barLabels visible CDATA #IMPLIED>
<!ATTLIST barLabels leftPadding CDATA #IMPLIED>
<!ATTLIST barLabels rightPadding CDATA #IMPLIED>
<!ATTLIST barLabels topPadding CDATA #IMPLIED>
<!ATTLIST barLabels bottomPadding CDATA #IMPLIED>

<!ELEMENT label (#PCDATA)>
<!ATTLIST label dx CDATA #IMPLIED>
<!ATTLIST label dy CDATA #IMPLIED>
<!ATTLIST label angle CDATA #IMPLIED>
<!ATTLIST label boxAnchor (c|e|sw|ne|n|s|w|autox|autoy|se|nw) #IMPLIED>
<!ATTLIST label boxStrokeColor CDATA #IMPLIED>
<!ATTLIST label boxStrokeWidth CDATA #IMPLIED>
<!ATTLIST label boxFillColor CDATA #IMPLIED>
<!ATTLIST label boxTarget CDATA #IMPLIED>
<!ATTLIST label fillColor CDATA #IMPLIED>
<!ATTLIST label strokeColor CDATA #IMPLIED>
<!ATTLIST label strokeWidth CDATA #IMPLIED>
<!ATTLIST label fontName CDATA #IMPLIED>
<!ATTLIST label fontSize CDATA #IMPLIED>
<!ATTLIST label leading CDATA #IMPLIED>
<!ATTLIST label width CDATA #IMPLIED>
<!ATTLIST label maxWidth CDATA #IMPLIED>
<!ATTLIST label height CDATA #IMPLIED>
<!ATTLIST label textAnchor (start|boxauto|end|middle) #IMPLIED>
<!ATTLIST label visible CDATA #IMPLIED>
<!ATTLIST label leftPadding CDATA #IMPLIED>
<!ATTLIST label rightPadding CDATA #IMPLIED>
<!ATTLIST label topPadding CDATA #IMPLIED>
<!ATTLIST label bottomPadding CDATA #IMPLIED>
<!ATTLIST label x CDATA #IMPLIED>
<!ATTLIST label y CDATA #IMPLIED>

<!ELEMENT texts (text*)>

<!ELEMENT text (#PCDATA)>
<!ATTLIST text x CDATA #REQUIRED>
<!ATTLIST text y CDATA #REQUIRED>
<!ATTLIST text angle CDATA #IMPLIED>
<!ATTLIST text fontName CDATA #IMPLIED>
<!ATTLIST text fontSize CDATA #IMPLIED>
<!ATTLIST text fillColor CDATA #IMPLIED>
<!ATTLIST text textAnchor (start|boxauto|end|middle) #IMPLIED>

<!ELEMENT linePlot (data,lines?,xValueAxis?,yValueAxis?,lineLabels?,texts?)>
<!ATTLIST linePlot dx CDATA #IMPLIED>
<!ATTLIST linePlot dy CDATA #IMPLIED>
<!ATTLIST linePlot dwidth CDATA #IMPLIED>
<!ATTLIST linePlot dheight CDATA #IMPLIED>
<!ATTLIST linePlot angle CDATA #IMPLIED>
<!ATTLIST linePlot x CDATA #IMPLIED>
<!ATTLIST linePlot y CDATA #IMPLIED>
<!ATTLIST linePlot width CDATA #IMPLIED>
<!ATTLIST linePlot height CDATA #IMPLIED>
<!ATTLIST linePlot strokeColor CDATA #IMPLIED>
<!ATTLIST linePlot strokeWidth CDATA #IMPLIED>
<!ATTLIST linePlot fillColor CDATA #IMPLIED>
<!ATTLIST linePlot debug CDATA #IMPLIED>
<!ATTLIST linePlot reversePlotOrder CDATA #IMPLIED>
<!ATTLIST linePlot lineLabelNudge CDATA #IMPLIED>
<!ATTLIST linePlot lineLabelFormat CDATA #IMPLIED>
<!ATTLIST linePlot joinedLines CDATA #IMPLIED>

<!ELEMENT data (series+)>

<!ELEMENT series (#PCDATA)>

<!ELEMENT lines (line+)>
<!ATTLIST lines strokeWidth CDATA #IMPLIED>
<!ATTLIST lines strokeColor CDATA #IMPLIED>
<!ATTLIST lines strokeDashArray CDATA #IMPLIED>
<!ATTLIST lines symbol CDATA #IMPLIED>

<!ELEMENT line>
<!ATTLIST line strokeWidth CDATA #IMPLIED>
<!ATTLIST line strokeColor CDATA #IMPLIED>
<!ATTLIST line strokeDashArray CDATA #IMPLIED>
<!ATTLIST line symbol CDATA #IMPLIED>
<!ATTLIST line name CDATA #IMPLIED>

<!ELEMENT xValueAxis>
<!ATTLIST xValueAxis visible CDATA #IMPLIED>
<!ATTLIST xValueAxis visibleAxis CDATA #IMPLIED>
<!ATTLIST xValueAxis visibleTicks CDATA #IMPLIED>
<!ATTLIST xValueAxis visibleLabels CDATA #IMPLIED>
<!ATTLIST xValueAxis visibleGrid CDATA #IMPLIED>
<!ATTLIST xValueAxis strokeWidth CDATA #IMPLIED>
<!ATTLIST xValueAxis strokeColor CDATA #IMPLIED>
<!ATTLIST xValueAxis strokeDashArray CDATA #IMPLIED>
<!ATTLIST xValueAxis gridStrokeWidth CDATA #IMPLIED>
<!ATTLIST xValueAxis gridStrokeColor CDATA #IMPLIED>
<!ATTLIST xValueAxis gridStrokeDashArray CDATA #IMPLIED>
<!ATTLIST xValueAxis gridStart CDATA #IMPLIED>
<!ATTLIST xValueAxis gridEnd CDATA #IMPLIED>
<!ATTLIST xValueAxis style (stacked|parallel|parallel_3d) #IMPLIED>
<!ATTLIST xValueAxis forceZero CDATA #IMPLIED>
<!ATTLIST xValueAxis minimumTickSpacing CDATA #IMPLIED>
<!ATTLIST xValueAxis maximumTicks CDATA #IMPLIED>
<!ATTLIST xValueAxis labelTextFormat CDATA #IMPLIED>
<!ATTLIST xValueAxis labelTextPostFormat CDATA #IMPLIED>
<!ATTLIST xValueAxis labelTextScale CDATA #IMPLIED>
<!ATTLIST xValueAxis valueMin CDATA #IMPLIED>
<!ATTLIST xValueAxis valueMax CDATA #IMPLIED>
<!ATTLIST xValueAxis valueStep CDATA #IMPLIED>
<!ATTLIST xValueAxis valueSteps CDATA #IMPLIED>
<!ATTLIST xValueAxis rangeRound (both|none|ceiling|floor) #IMPLIED>
<!ATTLIST xValueAxis zrangePref CDATA #IMPLIED>
<!ATTLIST xValueAxis tickUp CDATA #IMPLIED>
<!ATTLIST xValueAxis tickDown CDATA #IMPLIED>
<!ATTLIST xValueAxis joinAxis CDATA #IMPLIED>
<!ATTLIST xValueAxis joinAxisMode (top|points|none|value|bottom) #IMPLIED>
<!ATTLIST xValueAxis joinAxisPos CDATA #IMPLIED>

<!ELEMENT yValueAxis>
<!ATTLIST yValueAxis visible CDATA #IMPLIED>
<!ATTLIST yValueAxis visibleAxis CDATA #IMPLIED>
<!ATTLIST yValueAxis visibleTicks CDATA #IMPLIED>
<!ATTLIST yValueAxis visibleLabels CDATA #IMPLIED>
<!ATTLIST yValueAxis visibleGrid CDATA #IMPLIED>
<!ATTLIST yValueAxis strokeWidth CDATA #IMPLIED>
<!ATTLIST yValueAxis strokeColor CDATA #IMPLIED>
<!ATTLIST yValueAxis strokeDashArray CDATA #IMPLIED>
<!ATTLIST yValueAxis gridStrokeWidth CDATA #IMPLIED>
<!ATTLIST yValueAxis gridStrokeColor CDATA #IMPLIED>
<!ATTLIST yValueAxis gridStrokeDashArray CDATA #IMPLIED>
<!ATTLIST yValueAxis gridStart CDATA #IMPLIED>
<!ATTLIST yValueAxis gridEnd CDATA #IMPLIED>
<!ATTLIST yValueAxis style (stacked|parallel|parallel_3d) #IMPLIED>
<!ATTLIST yValueAxis forceZero CDATA #IMPLIED>
<!ATTLIST yValueAxis minimumTickSpacing CDATA #IMPLIED>
<!ATTLIST yValueAxis maximumTicks CDATA #IMPLIED>
<!ATTLIST yValueAxis labelTextFormat CDATA #IMPLIED>
<!ATTLIST yValueAxis labelTextPostFormat CDATA #IMPLIED>
<!ATTLIST yValueAxis labelTextScale CDATA #IMPLIED>
<!ATTLIST yValueAxis valueMin CDATA #IMPLIED>
<!ATTLIST yValueAxis valueMax CDATA #IMPLIED>
<!ATTLIST yValueAxis valueStep CDATA #IMPLIED>
<!ATTLIST yValueAxis valueSteps CDATA #IMPLIED>
<!ATTLIST yValueAxis rangeRound (both|none|ceiling|floor) #IMPLIED>
<!ATTLIST yValueAxis zrangePref CDATA #IMPLIED>
<!ATTLIST yValueAxis tickLeft CDATA #IMPLIED>
<!ATTLIST yValueAxis tickRight CDATA #IMPLIED>
<!ATTLIST yValueAxis joinAxis CDATA #IMPLIED>
<!ATTLIST yValueAxis joinAxisMode (top|points|none|value|bottom) #IMPLIED>
<!ATTLIST yValueAxis joinAxisPos CDATA #IMPLIED>

<!ELEMENT lineLabels (label*)>
<!ATTLIST lineLabels dx CDATA #IMPLIED>
<!ATTLIST lineLabels dy CDATA #IMPLIED>
<!ATTLIST lineLabels angle CDATA #IMPLIED>
<!ATTLIST lineLabels boxAnchor (c|e|sw|ne|n|s|w|autox|autoy|se|nw) #IMPLIED>
<!ATTLIST lineLabels boxStrokeColor CDATA #IMPLIED>
<!ATTLIST lineLabels boxStrokeWidth CDATA #IMPLIED>
<!ATTLIST lineLabels boxFillColor CDATA #IMPLIED>
<!ATTLIST lineLabels boxTarget CDATA #IMPLIED>
<!ATTLIST lineLabels fillColor CDATA #IMPLIED>
<!ATTLIST lineLabels strokeColor CDATA #IMPLIED>
<!ATTLIST lineLabels strokeWidth CDATA #IMPLIED>
<!ATTLIST lineLabels fontName CDATA #IMPLIED>
<!ATTLIST lineLabels fontSize CDATA #IMPLIED>
<!ATTLIST lineLabels leading CDATA #IMPLIED>
<!ATTLIST lineLabels width CDATA #IMPLIED>
<!ATTLIST lineLabels maxWidth CDATA #IMPLIED>
<!ATTLIST lineLabels height CDATA #IMPLIED>
<!ATTLIST lineLabels textAnchor (start|boxauto|end|middle) #IMPLIED>
<!ATTLIST lineLabels visible CDATA #IMPLIED>
<!ATTLIST lineLabels leftPadding CDATA #IMPLIED>
<!ATTLIST lineLabels rightPadding CDATA #IMPLIED>
<!ATTLIST lineLabels topPadding CDATA #IMPLIED>
<!ATTLIST lineLabels bottomPadding CDATA #IMPLIED>
<!ATTLIST lineLabels x CDATA #IMPLIED>
<!ATTLIST lineLabels y CDATA #IMPLIED>

<!ELEMENT label (#PCDATA)>
<!ATTLIST label dx CDATA #IMPLIED>
<!ATTLIST label dy CDATA #IMPLIED>
<!ATTLIST label angle CDATA #IMPLIED>
<!ATTLIST label boxAnchor (c|e|sw|ne|n|s|w|autox|autoy|se|nw) #IMPLIED>
<!ATTLIST label boxStrokeColor CDATA #IMPLIED>
<!ATTLIST label boxStrokeWidth CDATA #IMPLIED>
<!ATTLIST label boxFillColor CDATA #IMPLIED>
<!ATTLIST label boxTarget CDATA #IMPLIED>
<!ATTLIST label fillColor CDATA #IMPLIED>
<!ATTLIST label strokeColor CDATA #IMPLIED>
<!ATTLIST label strokeWidth CDATA #IMPLIED>
<!ATTLIST label fontName CDATA #IMPLIED>
<!ATTLIST label fontSize CDATA #IMPLIED>
<!ATTLIST label leading CDATA #IMPLIED>
<!ATTLIST label width CDATA #IMPLIED>
<!ATTLIST label maxWidth CDATA #IMPLIED>
<!ATTLIST label height CDATA #IMPLIED>
<!ATTLIST label textAnchor (start|boxauto|end|middle) #IMPLIED>
<!ATTLIST label visible CDATA #IMPLIED>
<!ATTLIST label leftPadding CDATA #IMPLIED>
<!ATTLIST label rightPadding CDATA #IMPLIED>
<!ATTLIST label topPadding CDATA #IMPLIED>
<!ATTLIST label bottomPadding CDATA #IMPLIED>
<!ATTLIST label x CDATA #IMPLIED>
<!ATTLIST label y CDATA #IMPLIED>

<!ELEMENT texts (text*)>

<!ELEMENT text (#PCDATA)>
<!ATTLIST text x CDATA #REQUIRED>
<!ATTLIST text y CDATA #REQUIRED>
<!ATTLIST text angle CDATA #IMPLIED>
<!ATTLIST text fontName CDATA #IMPLIED>
<!ATTLIST text fontSize CDATA #IMPLIED>
<!ATTLIST text fillColor CDATA #IMPLIED>
<!ATTLIST text textAnchor (start|boxauto|end|middle) #IMPLIED>

<!ELEMENT linePlot3D (data,lines?,xValueAxis?,yValueAxis?,lineLabels?,texts?)>
<!ATTLIST linePlot3D dx CDATA #IMPLIED>
<!ATTLIST linePlot3D dy CDATA #IMPLIED>
<!ATTLIST linePlot3D dwidth CDATA #IMPLIED>
<!ATTLIST linePlot3D dheight CDATA #IMPLIED>
<!ATTLIST linePlot3D angle CDATA #IMPLIED>
<!ATTLIST linePlot3D x CDATA #IMPLIED>
<!ATTLIST linePlot3D y CDATA #IMPLIED>
<!ATTLIST linePlot3D width CDATA #IMPLIED>
<!ATTLIST linePlot3D height CDATA #IMPLIED>
<!ATTLIST linePlot3D strokeColor CDATA #IMPLIED>
<!ATTLIST linePlot3D strokeWidth CDATA #IMPLIED>
<!ATTLIST linePlot3D fillColor CDATA #IMPLIED>
<!ATTLIST linePlot3D debug CDATA #IMPLIED>
<!ATTLIST linePlot3D reversePlotOrder CDATA #IMPLIED>
<!ATTLIST linePlot3D lineLabelNudge CDATA #IMPLIED>
<!ATTLIST linePlot3D lineLabelFormat CDATA #IMPLIED>
<!ATTLIST linePlot3D joinedLines CDATA #IMPLIED>
<!ATTLIST linePlot3D thetaX CDATA #IMPLIED>
<!ATTLIST linePlot3D thetaY CDATA #IMPLIED>
<!ATTLIST linePlot3D zDepth CDATA #IMPLIED>
<!ATTLIST linePlot3D zSpace CDATA #IMPLIED>

<!ELEMENT data (series+)>

<!ELEMENT series (#PCDATA)>

<!ELEMENT lines (line+)>
<!ATTLIST lines strokeWidth CDATA #IMPLIED>
<!ATTLIST lines strokeColor CDATA #IMPLIED>
<!ATTLIST lines strokeDashArray CDATA #IMPLIED>
<!ATTLIST lines symbol CDATA #IMPLIED>

<!ELEMENT line>
<!ATTLIST line strokeWidth CDATA #IMPLIED>
<!ATTLIST line strokeColor CDATA #IMPLIED>
<!ATTLIST line strokeDashArray CDATA #IMPLIED>
<!ATTLIST line symbol CDATA #IMPLIED>
<!ATTLIST line name CDATA #IMPLIED>

<!ELEMENT xValueAxis>
<!ATTLIST xValueAxis visible CDATA #IMPLIED>
<!ATTLIST xValueAxis visibleAxis CDATA #IMPLIED>
<!ATTLIST xValueAxis visibleTicks CDATA #IMPLIED>
<!ATTLIST xValueAxis visibleLabels CDATA #IMPLIED>
<!ATTLIST xValueAxis visibleGrid CDATA #IMPLIED>
<!ATTLIST xValueAxis strokeWidth CDATA #IMPLIED>
<!ATTLIST xValueAxis strokeColor CDATA #IMPLIED>
<!ATTLIST xValueAxis strokeDashArray CDATA #IMPLIED>
<!ATTLIST xValueAxis gridStrokeWidth CDATA #IMPLIED>
<!ATTLIST xValueAxis gridStrokeColor CDATA #IMPLIED>
<!ATTLIST xValueAxis gridStrokeDashArray CDATA #IMPLIED>
<!ATTLIST xValueAxis gridStart CDATA #IMPLIED>
<!ATTLIST xValueAxis gridEnd CDATA #IMPLIED>
<!ATTLIST xValueAxis style (stacked|parallel|parallel_3d) #IMPLIED>
<!ATTLIST xValueAxis forceZero CDATA #IMPLIED>
<!ATTLIST xValueAxis minimumTickSpacing CDATA #IMPLIED>
<!ATTLIST xValueAxis maximumTicks CDATA #IMPLIED>
<!ATTLIST xValueAxis labelTextFormat CDATA #IMPLIED>
<!ATTLIST xValueAxis labelTextPostFormat CDATA #IMPLIED>
<!ATTLIST xValueAxis labelTextScale CDATA #IMPLIED>
<!ATTLIST xValueAxis valueMin CDATA #IMPLIED>
<!ATTLIST xValueAxis valueMax CDATA #IMPLIED>
<!ATTLIST xValueAxis valueStep CDATA #IMPLIED>
<!ATTLIST xValueAxis valueSteps CDATA #IMPLIED>
<!ATTLIST xValueAxis rangeRound (both|none|ceiling|floor) #IMPLIED>
<!ATTLIST xValueAxis zrangePref CDATA #IMPLIED>
<!ATTLIST xValueAxis tickUp CDATA #IMPLIED>
<!ATTLIST xValueAxis tickDown CDATA #IMPLIED>
<!ATTLIST xValueAxis joinAxis CDATA #IMPLIED>
<!ATTLIST xValueAxis joinAxisMode (top|points|none|value|bottom) #IMPLIED>
<!ATTLIST xValueAxis joinAxisPos CDATA #IMPLIED>

<!ELEMENT yValueAxis>
<!ATTLIST yValueAxis visible CDATA #IMPLIED>
<!ATTLIST yValueAxis visibleAxis CDATA #IMPLIED>
<!ATTLIST yValueAxis visibleTicks CDATA #IMPLIED>
<!ATTLIST yValueAxis visibleLabels CDATA #IMPLIED>
<!ATTLIST yValueAxis visibleGrid CDATA #IMPLIED>
<!ATTLIST yValueAxis strokeWidth CDATA #IMPLIED>
<!ATTLIST yValueAxis strokeColor CDATA #IMPLIED>
<!ATTLIST yValueAxis strokeDashArray CDATA #IMPLIED>
<!ATTLIST yValueAxis gridStrokeWidth CDATA #IMPLIED>
<!ATTLIST yValueAxis gridStrokeColor CDATA #IMPLIED>
<!ATTLIST yValueAxis gridStrokeDashArray CDATA #IMPLIED>
<!ATTLIST yValueAxis gridStart CDATA #IMPLIED>
<!ATTLIST yValueAxis gridEnd CDATA #IMPLIED>
<!ATTLIST yValueAxis style (stacked|parallel|parallel_3d) #IMPLIED>
<!ATTLIST yValueAxis forceZero CDATA #IMPLIED>
<!ATTLIST yValueAxis minimumTickSpacing CDATA #IMPLIED>
<!ATTLIST yValueAxis maximumTicks CDATA #IMPLIED>
<!ATTLIST yValueAxis labelTextFormat CDATA #IMPLIED>
<!ATTLIST yValueAxis labelTextPostFormat CDATA #IMPLIED>
<!ATTLIST yValueAxis labelTextScale CDATA #IMPLIED>
<!ATTLIST yValueAxis valueMin CDATA #IMPLIED>
<!ATTLIST yValueAxis valueMax CDATA #IMPLIED>
<!ATTLIST yValueAxis valueStep CDATA #IMPLIED>
<!ATTLIST yValueAxis valueSteps CDATA #IMPLIED>
<!ATTLIST yValueAxis rangeRound (both|none|ceiling|floor) #IMPLIED>
<!ATTLIST yValueAxis zrangePref CDATA #IMPLIED>
<!ATTLIST yValueAxis tickLeft CDATA #IMPLIED>
<!ATTLIST yValueAxis tickRight CDATA #IMPLIED>
<!ATTLIST yValueAxis joinAxis CDATA #IMPLIED>
<!ATTLIST yValueAxis joinAxisMode (top|points|none|value|bottom) #IMPLIED>
<!ATTLIST yValueAxis joinAxisPos CDATA #IMPLIED>

<!ELEMENT lineLabels (label*)>
<!ATTLIST lineLabels dx CDATA #IMPLIED>
<!ATTLIST lineLabels dy CDATA #IMPLIED>
<!ATTLIST lineLabels angle CDATA #IMPLIED>
<!ATTLIST lineLabels boxAnchor (c|e|sw|ne|n|s|w|autox|autoy|se|nw) #IMPLIED>
<!ATTLIST lineLabels boxStrokeColor CDATA #IMPLIED>
<!ATTLIST lineLabels boxStrokeWidth CDATA #IMPLIED>
<!ATTLIST lineLabels boxFillColor CDATA #IMPLIED>
<!ATTLIST lineLabels boxTarget CDATA #IMPLIED>
<!ATTLIST lineLabels fillColor CDATA #IMPLIED>
<!ATTLIST lineLabels strokeColor CDATA #IMPLIED>
<!ATTLIST lineLabels strokeWidth CDATA #IMPLIED>
<!ATTLIST lineLabels fontName CDATA #IMPLIED>
<!ATTLIST lineLabels fontSize CDATA #IMPLIED>
<!ATTLIST lineLabels leading CDATA #IMPLIED>
<!ATTLIST lineLabels width CDATA #IMPLIED>
<!ATTLIST lineLabels maxWidth CDATA #IMPLIED>
<!ATTLIST lineLabels height CDATA #IMPLIED>
<!ATTLIST lineLabels textAnchor (start|boxauto|end|middle) #IMPLIED>
<!ATTLIST lineLabels visible CDATA #IMPLIED>
<!ATTLIST lineLabels leftPadding CDATA #IMPLIED>
<!ATTLIST lineLabels rightPadding CDATA #IMPLIED>
<!ATTLIST lineLabels topPadding CDATA #IMPLIED>
<!ATTLIST lineLabels bottomPadding CDATA #IMPLIED>
<!ATTLIST lineLabels x CDATA #IMPLIED>
<!ATTLIST lineLabels y CDATA #IMPLIED>

<!ELEMENT label (#PCDATA)>
<!ATTLIST label dx CDATA #IMPLIED>
<!ATTLIST label dy CDATA #IMPLIED>
<!ATTLIST label angle CDATA #IMPLIED>
<!ATTLIST label boxAnchor (c|e|sw|ne|n|s|w|autox|autoy|se|nw) #IMPLIED>
<!ATTLIST label boxStrokeColor CDATA #IMPLIED>
<!ATTLIST label boxStrokeWidth CDATA #IMPLIED>
<!ATTLIST label boxFillColor CDATA #IMPLIED>
<!ATTLIST label boxTarget CDATA #IMPLIED>
<!ATTLIST label fillColor CDATA #IMPLIED>
<!ATTLIST label strokeColor CDATA #IMPLIED>
<!ATTLIST label strokeWidth CDATA #IMPLIED>
<!ATTLIST label fontName CDATA #IMPLIED>
<!ATTLIST label fontSize CDATA #IMPLIED>
<!ATTLIST label leading CDATA #IMPLIED>
<!ATTLIST label width CDATA #IMPLIED>
<!ATTLIST label maxWidth CDATA #IMPLIED>
<!ATTLIST label height CDATA #IMPLIED>
<!ATTLIST label textAnchor (start|boxauto|end|middle) #IMPLIED>
<!ATTLIST label visible CDATA #IMPLIED>
<!ATTLIST label leftPadding CDATA #IMPLIED>
<!ATTLIST label rightPadding CDATA #IMPLIED>
<!ATTLIST label topPadding CDATA #IMPLIED>
<!ATTLIST label bottomPadding CDATA #IMPLIED>
<!ATTLIST label x CDATA #IMPLIED>
<!ATTLIST label y CDATA #IMPLIED>

<!ELEMENT texts (text*)>

<!ELEMENT text (#PCDATA)>
<!ATTLIST text x CDATA #REQUIRED>
<!ATTLIST text y CDATA #REQUIRED>
<!ATTLIST text angle CDATA #IMPLIED>
<!ATTLIST text fontName CDATA #IMPLIED>
<!ATTLIST text fontSize CDATA #IMPLIED>
<!ATTLIST text fillColor CDATA #IMPLIED>
<!ATTLIST text textAnchor (start|boxauto|end|middle) #IMPLIED>

<!ELEMENT pieChart (data,slices?,labels?,texts?)>
<!ATTLIST pieChart dx CDATA #IMPLIED>
<!ATTLIST pieChart dy CDATA #IMPLIED>
<!ATTLIST pieChart dwidth CDATA #IMPLIED>
<!ATTLIST pieChart dheight CDATA #IMPLIED>
<!ATTLIST pieChart angle CDATA #IMPLIED>
<!ATTLIST pieChart x CDATA #IMPLIED>
<!ATTLIST pieChart y CDATA #IMPLIED>
<!ATTLIST pieChart width CDATA #IMPLIED>
<!ATTLIST pieChart height CDATA #IMPLIED>
<!ATTLIST pieChart strokeColor CDATA #IMPLIED>
<!ATTLIST pieChart strokeWidth CDATA #IMPLIED>
<!ATTLIST pieChart fillColor CDATA #IMPLIED>
<!ATTLIST pieChart debug CDATA #IMPLIED>
<!ATTLIST pieChart startAngle CDATA #IMPLIED>
<!ATTLIST pieChart direction (clockwise|anticlockwise) #IMPLIED>
<!ATTLIST pieChart checkLabelOverlap CDATA #IMPLIED>
<!ATTLIST pieChart pointerLabelMode (none|leftandright|leftright) #IMPLIED>
<!ATTLIST pieChart sameRadii CDATA #IMPLIED>
<!ATTLIST pieChart orderMode (alternate|fixed) #IMPLIED>
<!ATTLIST pieChart xradius CDATA #IMPLIED>
<!ATTLIST pieChart yradius CDATA #IMPLIED>

<!ELEMENT data (series)>

<!ELEMENT series (#PCDATA)>

<!ELEMENT slices (slice+)>
<!ATTLIST slices strokeWidth CDATA #IMPLIED>
<!ATTLIST slices fillColor CDATA #IMPLIED>
<!ATTLIST slices strokeColor CDATA #IMPLIED>
<!ATTLIST slices strokeDashArray CDATA #IMPLIED>
<!ATTLIST slices popout CDATA #IMPLIED>
<!ATTLIST slices fontName CDATA #IMPLIED>
<!ATTLIST slices fontSize CDATA #IMPLIED>
<!ATTLIST slices labelRadius CDATA #IMPLIED>

<!ELEMENT slice (label?,pointer?)>
<!ATTLIST slice strokeWidth CDATA #IMPLIED>
<!ATTLIST slice fillColor CDATA #IMPLIED>
<!ATTLIST slice strokeColor CDATA #IMPLIED>
<!ATTLIST slice strokeDashArray CDATA #IMPLIED>
<!ATTLIST slice popout CDATA #IMPLIED>
<!ATTLIST slice fontName CDATA #IMPLIED>
<!ATTLIST slice fontSize CDATA #IMPLIED>
<!ATTLIST slice labelRadius CDATA #IMPLIED>
<!ATTLIST slice swatchMarker CDATA #IMPLIED>

<!ELEMENT label (#PCDATA)>
<!ATTLIST label dx CDATA #IMPLIED>
<!ATTLIST label dy CDATA #IMPLIED>
<!ATTLIST label angle CDATA #IMPLIED>
<!ATTLIST label boxAnchor (c|e|sw|ne|n|s|w|autox|autoy|se|nw) #IMPLIED>
<!ATTLIST label boxStrokeColor CDATA #IMPLIED>
<!ATTLIST label boxStrokeWidth CDATA #IMPLIED>
<!ATTLIST label boxFillColor CDATA #IMPLIED>
<!ATTLIST label boxTarget CDATA #IMPLIED>
<!ATTLIST label fillColor CDATA #IMPLIED>
<!ATTLIST label strokeColor CDATA #IMPLIED>
<!ATTLIST label strokeWidth CDATA #IMPLIED>
<!ATTLIST label fontName CDATA #IMPLIED>
<!ATTLIST label fontSize CDATA #IMPLIED>
<!ATTLIST label leading CDATA #IMPLIED>
<!ATTLIST label width CDATA #IMPLIED>
<!ATTLIST label maxWidth CDATA #IMPLIED>
<!ATTLIST label height CDATA #IMPLIED>
<!ATTLIST label textAnchor (start|boxauto|end|middle) #IMPLIED>
<!ATTLIST label visible CDATA #IMPLIED>
<!ATTLIST label leftPadding CDATA #IMPLIED>
<!ATTLIST label rightPadding CDATA #IMPLIED>
<!ATTLIST label topPadding CDATA #IMPLIED>
<!ATTLIST label bottomPadding CDATA #IMPLIED>

<!ELEMENT pointer>
<!ATTLIST pointer strokeColor CDATA #IMPLIED>
<!ATTLIST pointer strokeWidth CDATA #IMPLIED>
<!ATTLIST pointer elbowLength CDATA #IMPLIED>
<!ATTLIST pointer edgePad CDATA #IMPLIED>
<!ATTLIST pointer piePad CDATA #IMPLIED>

<!ELEMENT labels (label+)>

<!ELEMENT label (#PCDATA)>

<!ELEMENT texts (text*)>

<!ELEMENT text (#PCDATA)>
<!ATTLIST text x CDATA #REQUIRED>
<!ATTLIST text y CDATA #REQUIRED>
<!ATTLIST text angle CDATA #IMPLIED>
<!ATTLIST text fontName CDATA #IMPLIED>
<!ATTLIST text fontSize CDATA #IMPLIED>
<!ATTLIST text fillColor CDATA #IMPLIED>
<!ATTLIST text textAnchor (start|boxauto|end|middle) #IMPLIED>

<!ELEMENT pieChart3D (slices,texts?)>
<!ATTLIST pieChart3D dx CDATA #IMPLIED>
<!ATTLIST pieChart3D dy CDATA #IMPLIED>
<!ATTLIST pieChart3D dwidth CDATA #IMPLIED>
<!ATTLIST pieChart3D dheight CDATA #IMPLIED>
<!ATTLIST pieChart3D angle CDATA #IMPLIED>
<!ATTLIST pieChart3D x CDATA #IMPLIED>
<!ATTLIST pieChart3D y CDATA #IMPLIED>
<!ATTLIST pieChart3D width CDATA #IMPLIED>
<!ATTLIST pieChart3D height CDATA #IMPLIED>
<!ATTLIST pieChart3D strokeColor CDATA #IMPLIED>
<!ATTLIST pieChart3D strokeWidth CDATA #IMPLIED>
<!ATTLIST pieChart3D fillColor CDATA #IMPLIED>
<!ATTLIST pieChart3D debug CDATA #IMPLIED>
<!ATTLIST pieChart3D startAngle CDATA #IMPLIED>
<!ATTLIST pieChart3D direction (clockwise|anticlockwise) #IMPLIED>
<!ATTLIST pieChart3D checkLabelOverlap CDATA #IMPLIED>
<!ATTLIST pieChart3D pointerLabelMode (none|leftandright|leftright) #IMPLIED>
<!ATTLIST pieChart3D sameRadii CDATA #IMPLIED>
<!ATTLIST pieChart3D orderMode (alternate|fixed) #IMPLIED>
<!ATTLIST pieChart3D xradius CDATA #IMPLIED>
<!ATTLIST pieChart3D yradius CDATA #IMPLIED>
<!ATTLIST pieChart3D perspective CDATA #IMPLIED>
<!ATTLIST pieChart3D depth_3d CDATA #IMPLIED>
<!ATTLIST pieChart3D angle_3d CDATA #IMPLIED>

<!ELEMENT slices (slice+)>
<!ATTLIST slices strokeWidth CDATA #IMPLIED>
<!ATTLIST slices fillColor CDATA #IMPLIED>
<!ATTLIST slices strokeColor CDATA #IMPLIED>
<!ATTLIST slices strokeDashArray CDATA #IMPLIED>
<!ATTLIST slices popout CDATA #IMPLIED>
<!ATTLIST slices fontName CDATA #IMPLIED>
<!ATTLIST slices fontSize CDATA #IMPLIED>
<!ATTLIST slices labelRadius CDATA #IMPLIED>
<!ATTLIST slices fillColorShaded CDATA #IMPLIED>

<!ELEMENT slice>
<!ATTLIST slice strokeWidth CDATA #IMPLIED>
<!ATTLIST slice fillColor CDATA #IMPLIED>
<!ATTLIST slice strokeColor CDATA #IMPLIED>
<!ATTLIST slice strokeDashArray CDATA #IMPLIED>
<!ATTLIST slice popout CDATA #IMPLIED>
<!ATTLIST slice fontName CDATA #IMPLIED>
<!ATTLIST slice fontSize CDATA #IMPLIED>
<!ATTLIST slice labelRadius CDATA #IMPLIED>
<!ATTLIST slice swatchMarker CDATA #IMPLIED>
<!ATTLIST slice fillColorShaded CDATA #IMPLIED>

<!ELEMENT texts (text*)>

<!ELEMENT text (#PCDATA)>
<!ATTLIST text x CDATA #REQUIRED>
<!ATTLIST text y CDATA #REQUIRED>
<!ATTLIST text angle CDATA #IMPLIED>
<!ATTLIST text fontName CDATA #IMPLIED>
<!ATTLIST text fontSize CDATA #IMPLIED>
<!ATTLIST text fillColor CDATA #IMPLIED>
<!ATTLIST text textAnchor (start|boxauto|end|middle) #IMPLIED>

<!ELEMENT spiderChart (data,strands?,strandLabels?,spokes?,spokeLabels?,labels?,texts?)>
<!ATTLIST spiderChart dx CDATA #IMPLIED>
<!ATTLIST spiderChart dy CDATA #IMPLIED>
<!ATTLIST spiderChart dwidth CDATA #IMPLIED>
<!ATTLIST spiderChart dheight CDATA #IMPLIED>
<!ATTLIST spiderChart angle CDATA #IMPLIED>
<!ATTLIST spiderChart x CDATA #IMPLIED>
<!ATTLIST spiderChart y CDATA #IMPLIED>
<!ATTLIST spiderChart width CDATA #IMPLIED>
<!ATTLIST spiderChart height CDATA #IMPLIED>
<!ATTLIST spiderChart strokeColor CDATA #IMPLIED>
<!ATTLIST spiderChart strokeWidth CDATA #IMPLIED>
<!ATTLIST spiderChart fillColor CDATA #IMPLIED>
<!ATTLIST spiderChart debug CDATA #IMPLIED>
<!ATTLIST spiderChart startAngle CDATA #IMPLIED>
<!ATTLIST spiderChart direction (clockwise|anticlockwise) #IMPLIED>

<!ELEMENT data (series+)>

<!ELEMENT series (#PCDATA)>

<!ELEMENT strands (strand+)>
<!ATTLIST strands strokeWidth CDATA #IMPLIED>
<!ATTLIST strands fillColor CDATA #IMPLIED>
<!ATTLIST strands strokeColor CDATA #IMPLIED>
<!ATTLIST strands strokeDashArray CDATA #IMPLIED>
<!ATTLIST strands symbol CDATA #IMPLIED>
<!ATTLIST strands symbolSize CDATA #IMPLIED>
<!ATTLIST strands name CDATA #IMPLIED>

<!ELEMENT strand>
<!ATTLIST strand strokeWidth CDATA #IMPLIED>
<!ATTLIST strand fillColor CDATA #IMPLIED>
<!ATTLIST strand strokeColor CDATA #IMPLIED>
<!ATTLIST strand strokeDashArray CDATA #IMPLIED>
<!ATTLIST strand symbol CDATA #IMPLIED>
<!ATTLIST strand symbolSize CDATA #IMPLIED>
<!ATTLIST strand name CDATA #IMPLIED>

<!ELEMENT strandLabels (label+,#PCDATA)>
<!ATTLIST strandLabels dx CDATA #IMPLIED>
<!ATTLIST strandLabels dy CDATA #IMPLIED>
<!ATTLIST strandLabels angle CDATA #IMPLIED>
<!ATTLIST strandLabels boxAnchor (c|e|sw|ne|n|s|w|autox|autoy|se|nw) #IMPLIED>
<!ATTLIST strandLabels boxStrokeColor CDATA #IMPLIED>
<!ATTLIST strandLabels boxStrokeWidth CDATA #IMPLIED>
<!ATTLIST strandLabels boxFillColor CDATA #IMPLIED>
<!ATTLIST strandLabels boxTarget CDATA #IMPLIED>
<!ATTLIST strandLabels fillColor CDATA #IMPLIED>
<!ATTLIST strandLabels strokeColor CDATA #IMPLIED>
<!ATTLIST strandLabels strokeWidth CDATA #IMPLIED>
<!ATTLIST strandLabels fontName CDATA #IMPLIED>
<!ATTLIST strandLabels fontSize CDATA #IMPLIED>
<!ATTLIST strandLabels leading CDATA #IMPLIED>
<!ATTLIST strandLabels width CDATA #IMPLIED>
<!ATTLIST strandLabels maxWidth CDATA #IMPLIED>
<!ATTLIST strandLabels height CDATA #IMPLIED>
<!ATTLIST strandLabels textAnchor (start|boxauto|end|middle) #IMPLIED>
<!ATTLIST strandLabels visible CDATA #IMPLIED>
<!ATTLIST strandLabels leftPadding CDATA #IMPLIED>
<!ATTLIST strandLabels rightPadding CDATA #IMPLIED>
<!ATTLIST strandLabels topPadding CDATA #IMPLIED>
<!ATTLIST strandLabels bottomPadding CDATA #IMPLIED>
<!ATTLIST strandLabels row CDATA #IMPLIED>
<!ATTLIST strandLabels col CDATA #IMPLIED>
<!ATTLIST strandLabels format CDATA #IMPLIED>

<!ELEMENT label (#PCDATA)>
<!ATTLIST label dx CDATA #IMPLIED>
<!ATTLIST label dy CDATA #IMPLIED>
<!ATTLIST label angle CDATA #IMPLIED>
<!ATTLIST label boxAnchor (c|e|sw|ne|n|s|w|autox|autoy|se|nw) #IMPLIED>
<!ATTLIST label boxStrokeColor CDATA #IMPLIED>
<!ATTLIST label boxStrokeWidth CDATA #IMPLIED>
<!ATTLIST label boxFillColor CDATA #IMPLIED>
<!ATTLIST label boxTarget CDATA #IMPLIED>
<!ATTLIST label fillColor CDATA #IMPLIED>
<!ATTLIST label strokeColor CDATA #IMPLIED>
<!ATTLIST label strokeWidth CDATA #IMPLIED>
<!ATTLIST label fontName CDATA #IMPLIED>
<!ATTLIST label fontSize CDATA #IMPLIED>
<!ATTLIST label leading CDATA #IMPLIED>
<!ATTLIST label width CDATA #IMPLIED>
<!ATTLIST label maxWidth CDATA #IMPLIED>
<!ATTLIST label height CDATA #IMPLIED>
<!ATTLIST label textAnchor (start|boxauto|end|middle) #IMPLIED>
<!ATTLIST label visible CDATA #IMPLIED>
<!ATTLIST label leftPadding CDATA #IMPLIED>
<!ATTLIST label rightPadding CDATA #IMPLIED>
<!ATTLIST label topPadding CDATA #IMPLIED>
<!ATTLIST label bottomPadding CDATA #IMPLIED>
<!ATTLIST label row CDATA #IMPLIED>
<!ATTLIST label col CDATA #IMPLIED>
<!ATTLIST label format CDATA #IMPLIED>
<!ATTLIST label dR CDATA #IMPLIED>

<!ELEMENT spokes (spoke+)>
<!ATTLIST spokes strokeWidth CDATA #IMPLIED>
<!ATTLIST spokes fillColor CDATA #IMPLIED>
<!ATTLIST spokes strokeColor CDATA #IMPLIED>
<!ATTLIST spokes strokeDashArray CDATA #IMPLIED>
<!ATTLIST spokes labelRadius CDATA #IMPLIED>
<!ATTLIST spokes visible CDATA #IMPLIED>

<!ELEMENT spoke>
<!ATTLIST spoke strokeWidth CDATA #IMPLIED>
<!ATTLIST spoke fillColor CDATA #IMPLIED>
<!ATTLIST spoke strokeColor CDATA #IMPLIED>
<!ATTLIST spoke strokeDashArray CDATA #IMPLIED>
<!ATTLIST spoke labelRadius CDATA #IMPLIED>
<!ATTLIST spoke visible CDATA #IMPLIED>

<!ELEMENT spokeLabels (label+)>
<!ATTLIST spokeLabels dx CDATA #IMPLIED>
<!ATTLIST spokeLabels dy CDATA #IMPLIED>
<!ATTLIST spokeLabels angle CDATA #IMPLIED>
<!ATTLIST spokeLabels boxAnchor (c|e|sw|ne|n|s|w|autox|autoy|se|nw) #IMPLIED>
<!ATTLIST spokeLabels boxStrokeColor CDATA #IMPLIED>
<!ATTLIST spokeLabels boxStrokeWidth CDATA #IMPLIED>
<!ATTLIST spokeLabels boxFillColor CDATA #IMPLIED>
<!ATTLIST spokeLabels boxTarget CDATA #IMPLIED>
<!ATTLIST spokeLabels fillColor CDATA #IMPLIED>
<!ATTLIST spokeLabels strokeColor CDATA #IMPLIED>
<!ATTLIST spokeLabels strokeWidth CDATA #IMPLIED>
<!ATTLIST spokeLabels fontName CDATA #IMPLIED>
<!ATTLIST spokeLabels fontSize CDATA #IMPLIED>
<!ATTLIST spokeLabels leading CDATA #IMPLIED>
<!ATTLIST spokeLabels width CDATA #IMPLIED>
<!ATTLIST spokeLabels maxWidth CDATA #IMPLIED>
<!ATTLIST spokeLabels height CDATA #IMPLIED>
<!ATTLIST spokeLabels textAnchor (start|boxauto|end|middle) #IMPLIED>
<!ATTLIST spokeLabels visible CDATA #IMPLIED>
<!ATTLIST spokeLabels leftPadding CDATA #IMPLIED>
<!ATTLIST spokeLabels rightPadding CDATA #IMPLIED>
<!ATTLIST spokeLabels topPadding CDATA #IMPLIED>
<!ATTLIST spokeLabels bottomPadding CDATA #IMPLIED>

<!ELEMENT label (#PCDATA)>
<!ATTLIST label dx CDATA #IMPLIED>
<!ATTLIST label dy CDATA #IMPLIED>
<!ATTLIST label angle CDATA #IMPLIED>
<!ATTLIST label boxAnchor (c|e|sw|ne|n|s|w|autox|autoy|se|nw) #IMPLIED>
<!ATTLIST label boxStrokeColor CDATA #IMPLIED>
<!ATTLIST label boxStrokeWidth CDATA #IMPLIED>
<!ATTLIST label boxFillColor CDATA #IMPLIED>
<!ATTLIST label boxTarget CDATA #IMPLIED>
<!ATTLIST label fillColor CDATA #IMPLIED>
<!ATTLIST label strokeColor CDATA #IMPLIED>
<!ATTLIST label strokeWidth CDATA #IMPLIED>
<!ATTLIST label fontName CDATA #IMPLIED>
<!ATTLIST label fontSize CDATA #IMPLIED>
<!ATTLIST label leading CDATA #IMPLIED>
<!ATTLIST label width CDATA #IMPLIED>
<!ATTLIST label maxWidth CDATA #IMPLIED>
<!ATTLIST label height CDATA #IMPLIED>
<!ATTLIST label textAnchor (start|boxauto|end|middle) #IMPLIED>
<!ATTLIST label visible CDATA #IMPLIED>
<!ATTLIST label leftPadding CDATA #IMPLIED>
<!ATTLIST label rightPadding CDATA #IMPLIED>
<!ATTLIST label topPadding CDATA #IMPLIED>
<!ATTLIST label bottomPadding CDATA #IMPLIED>

<!ELEMENT labels (label+)>

<!ELEMENT label (#PCDATA)>

<!ELEMENT texts (text*)>

<!ELEMENT text (#PCDATA)>
<!ATTLIST text x CDATA #REQUIRED>
<!ATTLIST text y CDATA #REQUIRED>
<!ATTLIST text angle CDATA #IMPLIED>
<!ATTLIST text fontName CDATA #IMPLIED>
<!ATTLIST text fontSize CDATA #IMPLIED>
<!ATTLIST text fillColor CDATA #IMPLIED>
<!ATTLIST text textAnchor (start|boxauto|end|middle) #IMPLIED>

<!ELEMENT bookmark>
<!ATTLIST bookmark name CDATA #REQUIRED>
<!ATTLIST bookmark fit (fitr|xyz|fith|fitv|fit) #IMPLIED>
<!ATTLIST bookmark zoom CDATA #IMPLIED>
<!ATTLIST bookmark x CDATA #IMPLIED>
<!ATTLIST bookmark y CDATA #IMPLIED>

<!ELEMENT plugInGraphic (#PCDATA)>
<!ATTLIST plugInGraphic module CDATA #REQUIRED>
<!ATTLIST plugInGraphic function CDATA #REQUIRED>
